@media all and (min-width: 320px) {
  .mm-menu {
    width: 200px; }

  html.mm-opening .mm-page,
  html.mm-opening #mm-blocker,
  html.mm-opening .mm-fixed-top,
  html.mm-opening .mm-fixed-bottom {
    left: 200px; } }

.mm-ismenu {
  background: #106010;
  color: rgba(255, 255, 255, 0.9);
}
