@media all and (min-width: 320px) {
  .mm-menu {
    width: 160px; }

  html.mm-opening .mm-page,
  html.mm-opening #mm-blocker,
  html.mm-opening .mm-fixed-top,
  html.mm-opening .mm-fixed-bottom {
    left: 160px; } }

