<!--incl='header_menu_admin.inc'-->
<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('../content/web/assets/images/login_bg.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong>Login!</strong></h2><br><br><form name="loginForm" id="loginForm" method="post" action="index.php" onsubmit="return(onSubmit());">
<div class="rTable">
<div class="rTableBody">
<div class="rTableRow">
<div id="errors"><!--#rplc33786#--></div>
<div class="rTableCell">Username</div>
<div class="rTableCell"><input style="width:280px" id="username" name="username" type="text" maxlength="15"/></div>
</div><br>
<div class="rTableRow">
<div class="rTableCell">Password</div>
<div class="rTableCell"><input style="width:280px" id="password" name="password" type="password"/></div>
</div><br><div class="rTableRow">
    <div class="rTableCell"><input type="submit" value="Login" name="btn_Submit" id="login">
            <input type="reset" value="Cancel" name="btn_Submit2"></div><br>
<div class="rTableCell"></div>
</div>


</div>
</div>
</form></p>


/**#rplc5#**/

                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section><div style="padding-top:67px;"></div>
<!--incl='footer-admin.inc'-->
