<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/about_us.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong>CONTACT US</strong></h2><p class="aboutheader">
As we need feed back to improve our service please contact us at steveedkn@firsthumb.com, or if you disagree with any charges Disputes@firsthumb.com
                        </p>
                </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->


<!--incl='footer.inc'-->
