<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/about_us.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong>FARE PAYMENT</strong></h2>
                        <p class="aboutheader">During Signup and on Profile page prior to travelling:</p>

                        <ul class="innercontent">
                            <li>Passengers receive 25 free miles which is used to pay for the first 25 miles of travel.</li>
 <li>Once the free miles are used up, the passenger pays 18 pence per mile travelled via their "Stripe payment account"</li>
 <li>Driver receives 15p per mile into their Stripe payment account, whether the passenger uses free miles or pays for them</li>
 
                        </ul>
                                   
                </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->


<!--incl='footer.inc'-->
