<!--incl='header_menu.inc'-->
<!-- { center | inverse } -->
<section class="banner-section">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active"> <a href="how_it_work.htm"><img src="assets/images/slide1.jpg" alt="Save on PParking costs" border="0"></a>
  
    </div>
    <div class="item"> <a href="about_us.htm"><img src="assets/images/slide2.jpg" alt="Easier Car Sharing is here" border="0"></a>
     
    </div>
    <div class="item"> <a href="register.htm"><img src="assets/images/slide3.jpg" alt="Help reduce traffic congestion" border="0"></a>
      
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->
</section>


<!-- { col-2 | col-3 | col-4 } -->
<a name="how-it-work" ></a>
<section class="content-2 col-3">
    <div class="container">
        <div class="row">
            <div>
                <div class="thumbnail">
                    <img src="assets/images/clogs.png" alt="">
                    <div class="caption">
                        <div>
                            <h3>how it works</h3><blockquote><p><strong>Step 1</strong> - Sign Up On Web site and get free miles.<br><strong>Step 2</strong> - Sign In and Download Apps.<br><strong>Step 3 </strong>- Congratulations you can now start using the service!</p></blockquote>
                        </div>
                            <div class="group">
                                
                                
                                <a href="how_it_work.htm" class="btn btn-default" style="">Learn More</a>
                            
                            
                            </div>
                    </div>
                </div>
            </div>
            <div>
  <div class="thumbnail">
                    <img src="assets/images/ppl.png" alt="">
                    <div class="caption">
                        <div>
                            <h3>Who Is Firsthumb?</h3><blockquote><p>Firsthumb is the first&nbsp;“Timely On Demand” travel service which uses the latest&nbsp;Mobile and Web technologies for sharing rides and giving lifts in cars.</p></blockquote>
                        </div>
                            <div class="group">
                                
                                <a href="about_us.htm" class="btn btn-default" style="">Learn More</a>
                            
                            </div>
                    </div>
                </div>
            </div>
            <div>
  <div class="thumbnail">
                    <img src="assets/images/money.png" alt="">
                    <div class="caption">
                        <div>
                            <h3>Fare Payment</h3><blockquote>
                              <p>Firsthumb charges and payments are on a mileage travelled basis. Pre-arrangement of travel plans can be made on our website or throough our mobile apps.</p></blockquote>
                        </div>
                            <div class="group">
                                
                                
                                <a href="fare_paymetslist.htm" class="btn btn-default" style="">Learn More</a>
                            
                            
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/middle_bg.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2><strong>What We Do</strong></h2><p>We bring people together with the ideas of conserving fuel, cutting the cost of&nbsp;travel, and reducing the amount of time spent wasted in traffic jams&nbsp;and congested traffic.</p>
                    </div>
                    <div class="group">
                        
                        
                        <a class="btn btn-lg btn-success" href="about_us.htm" style="">read more</a> 
                    
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/middle_bg2.jpg');">
   <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2>safety</h2><p>We track the journey we know who got in the car with who, when and where they travelled to and from. Everyone has to register, Firsthumb needs all users to register their details and have an active PayPal account.</p>
                    </div>
                    <div class="group">
                        
                        <a class="btn btn-lg btn-danger" href="safety.htm" style="">find out more</a> 
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--incl='footer.inc'-->
