<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/about_us.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong> HOW IT WORKS </strong></h2><p class="aboutheader">

                        <ul class="innercontent">
                            <li>Sign Up as a passenger or driver </li>
 <li> Create or join a group</li>
 <li> Join STRIPE Payment Service</li>
 <li> Download the app and start travelling with your colleagues and friends</li>
</ul>
                </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->

<section class="msgbox-1 black"><a name="get_started"></a>
    <div class="container">
        <div class="row">
                <div class="col-sm-4">
                    <h2>Getting started!</h2><p>
It's simple, you have to sign up, sign in, purchase miles through (STRIPE Payment Service) and plan your journey. <div class="group">
                        
                        <a class="btn btn-lg btn-danger" href="register.htm">Sign Up Here!</a>
                    
                    </div></p>
                </div>
                <div class="col-sm-4">
                    <h2>Planning A Journey</h2><p>
You can only plan journeys after you sign up. You can then create journeys, search for journeys, advertize journeys and view a history of your journeys.
<div class="group"><a class="btn btn-lg btn-danger" href="login.htm">Plan A Journey</a></div><br><div class="group"><a class="btn btn-lg btn-danger" href="login.htm">Search For  A Journey</a></div>
</p>
                </div>
                <div class="col-sm-4">
                   <h2>Catching A Ride</h2><p>
Passengers stand at a convenient stopping point and hold out their Mobile Phones. When a driver pulls over the prospective passenger enters the car registration into their mobile phone, either via SMS or mobile Apps. Both passenger and driver receive the same secure passphrase which they show each other.
</p>
                </div>
        </div>
    </div>
</section>
<!--incl='footer.inc'-->
