<!--incl='header_menu.inc'-->




<!-- { center | inverse } -->
<section class="msgbox-1 profile_bg" >
    <div class="container">
        <div class="row">
       <h2 class="aboutheader1" style="text-align:center;"><!--#rplc11#--></h2>
            <div class="m">
            <div class="col-md-3 col-sm-6">
            	<a href="http://itunes.apple.com/gb/app/first-thumb/id481971973?mt=8"><img src="images/appstore.png"
                  alt="AppStore"
                  width="120" height="41" border="0" /></a>
                   <a href="webapp/index.html"><h1>MyPhone</h1>
                <b>Web App</b> <br> <i>for all mobile browsers</i>
                </a>
                 <a href="androidapp/index.html"><h1>Android</h1>
                <b>(Beta release)</b> <br> <i>for all Android Devices</i>
                </a>
            </div>
            
            <div  class="col-md-9 col-sm-6">
            	<div id="results"> <h1>Welcome to First Thumb's MediaCityUK Pilot</h1> <img src="images/spider.jpg"/>
                
                <p>First Thumb is the first <b><big>“ON DEMAND”</big></b> travel service for sharing rides and giving lifts in cars. First Thumb makes use of the latest innovations in Mobile and Web technologies to help provide a secure connection for drivers and passengers.                                            
In order to use the service you need to go to the <b>menu</b> above and follow the steps below.<p>                  
<h1> ON DEMAND Get started in 3 easy Steps</h1>  
<ul>
	<li>Step 1 - <a href="register.php">REGISTER</a> and enter your PayPal ID, (but NOT password)</li>
    <li>Step 2 - <a href="login.php">SIGN IN</a> and Purchase miles through PayPal.</li>
    <li>Step 3 -  Congratulations you can now start using the service!</li>
</ul>


<h1> ON DEMAND Catching a Ride</h1>
<p>Passengers stand at a convenient stopping point and hold out their Mobile Phones.  When a driver pulls over the prospective passenger enters the car registration into their mobile phone, either via SMS or mobile Apps. Both passenger and driver receive the same secure passphrase which they show each other. This confirms that they are connected and the journey is being monitored.  At the completion of the journey, the passenger asks the driver how many miles they have travelled and enters the amount (say 14 miles) into their mobiles. Both the passenger and driver receive a prompt reply, confirming the passenger has been charged 14 miles and the driver has been credited with 14 miles. 

If you wish to look for suitable journeys already scheduled? Then click on <a href="search.php">SEARCH here!</a> or you may want to advertize a journey you are making in advance? You need to <a href="login.php">SIGN IN</a> and then select <a href="search.php">SEARCH</a>, enter a <b>New Journey</b> or modify <b>My Journeys</b>.  </p>
                           
                               </div>
            </div>
            <br clear="all" />
            </div>   
            
               <!-- <div class="col-sm-5"><br><br>
		
            <div class="group"><a class="btn btn-lg btn-danger" href="">Buy Miles</a></div><br><div class="group"><a class="btn btn-lg btn-danger" href="">Plan A Journey</a></div><br>
<div class="group"><a class="btn btn-lg btn-danger" href="">Search For  A Journey</a></div><br>
                </div>-->
                
        </div>
    </div>
</section>


<!--incl='footer.inc'-->