<!--incl='header_menu.inc'-->
<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/login_bg.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong>Login!</strong></h2><br><br><form name="loginForm" id="loginForm" method="post" action="login.php" onsubmit="return(onSubmit());">
<div class="rTable">
<div class="rTableBody">
<div class="rTableRow">
<div class="rTableCell">Username</div>
<div class="rTableCell"><input style="width:280px" id="email" name="email" type="text"/></div>
</div><br>
<div class="rTableRow">
<div class="rTableCell">Password</div>
<div class="rTableCell"><input style="width:280px" id="password" name="password" type="password"/></div>
</div><br><div class="rTableRow">
<div class="rTableCell"><input id="loginButton" type="hidden" value="Sign In"/></div><br>
<div class="rTableCell"></div>
</div>
<div class="rTableRow">
<div class="rTableCell"><input type="checkbox" id="rememberMe"/>&nbsp;<!--#rplc7#--></div><br>
<div class="rTableCell"></div>
</div>
<div class="rTableRow">
<div class="rTableCell"></div>
</div>

<div class="rTableRow">
<div class="rTableCell"></div>
</div>
<div class="rTableRow">
<div class="rTableCell">
<div><a href="forgot_password.php" class="log">Forgotten password? </a></div>
</div>
</div>
<div class="rTableRow">
<div class="rTableCell">
<div><strong>or <a href="register.php" class="log">click here to Register</a></strong></div>
</div>
</div>
</div>
</div>
</form></p>


/**#rplc5#**/

                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section><div style="padding-top:67px;"></div>
<!--incl='footer.inc'-->
