<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->


<!-- { center | inverse } -->
<section class="msgbox-1 profile_bg" >
    <div class="container">
        <div class="row"><h2 style="text-align:center; " class="aboutheader1"><!--#rplc11#--></h2>
        <div class="m">
                <div class="col-sm-7">
                    <p>
                
                    <div ><!--  removed the class to remove the black background  class="m" -->

<!--#rplc5#-->

</div>

                
                </p>
                </div>
                <div class="col-sm-5"><br><br>
		
           <!--incl='header_menu_right.inc'--></div>
                <br clear="all" />
            </div>    
        </div>
    </div>
</section>
<script type="text/javascript">
<!--
function MM_goToURL() { //v3.0
  var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
  for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
}
//-->
</script>


    <!--#rplc2#-->
    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34567517-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>   

<!--incl='footer.inc'-->