<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/about_us.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader" style="padding-top:20px;"><strong>NEXT STEPS</strong></h2><p class="aboutheader" style="text-align: left;">
                            Welcome to Firsthumb! In order to get you going now you’ve signed up, just follow the 4 steps outlined below: <br><br>

All features are available in the green dropdown menu.
                        <div class="header-ul-list">START IT:</div>
  <ul class="innercontent">
                            <li>Once signed up you need to verify your email address and Mobile Phone Number.</li>
                             <li>Download the Mobile App for iPhone or Android.</li>
                              
                               <li>From your PROFILE or the green dropdown Menu bar, select  START IT and  you can start a group and /or join a group etc...</li>
                           
</ul>
                             <div class="header-ul-list">PLAN IT</div>
  <ul class="innercontent">
                            <li>Search for matching regular or one-off Journeys</li>
                             <li>Create a New Journey</li>
                              <li>Broadcast a message around your groups and connect with friends, colleagues or neighbours.</li>
                             
                           
</ul>
                                <div class="header-ul-list">DO IT</div>
  <ul class="innercontent">
                            <li>Download and use the mobile App as a passenger and driver to monitor your journey’s and make automatic payments. </li>
                           </ul>
                                    <div class="header-ul-list">REVIEW IT</div>
  <ul class="innercontent">
                            <li>Review and edit your regular schedules journeys and 1 of journeys.</li>
                             <li>Review your actual Journey History</li>
                              <li>Contact us to give us give us your feedback or if you have an issue etc...</li>
                             
                           
</ul>
                        </p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->
<section class="msgbox-1 black"><a name="get_started"></a>
    <div class="container">
        <div class="row">
                <div class="col-sm-4">
                    <h2>Getting started!</h2><p>
It's simple, you have to sign up, sign in, purchase miles through (STRIPE Payment Service) and plan your journey. <div class="group">
                        
                        <a class="btn btn-lg btn-danger" href="register.htm">Sign Up Here!</a>
                    
                    </div></p>
                </div>
                <div class="col-sm-4">
                    <h2>Planning A Journey</h2><p>
You can only plan journeys after you sign up. You can then create journeys, search for journeys, advertize journeys and view a history of your journeys.
<div class="group"><a class="btn btn-lg btn-danger" href="login.htm">Plan A Journey</a></div><br><div class="group"><a class="btn btn-lg btn-danger" href="login.htm">Search For  A Journey</a></div>
</p>
                </div>
                <div class="col-sm-4">
                   <h2>Catching A Ride</h2><p>
Passengers stand at a convenient stopping point and hold out their Mobile Phones. When a driver pulls over the prospective passenger enters the car registration into their mobile phone, either via SMS or mobile Apps. Both passenger and driver receive the same secure passphrase which they show each other.
</p>
                </div>
        </div>
    </div>
</section>

<!--incl='footer.inc'-->
