<form action="https://www.paypal.com/cgi-bin/webscr" method="post"  name="paypalform" onsubmit="myFunction(this.submited);">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="KPMVC7V468GN4">
    <input type="hidden" name="on0" value="Buy miles">
    <input type="hidden" name="os0" value="">
   <input type="hidden" name="currency_code" value="GBP">
    <input type="submit" class="btn btn-lg btn-success" onclick="this.form.submited = this.value;"  name="submit" value="25" >&nbsp;&nbsp;&nbsp;
    <input type="submit" class="btn btn-lg btn-success" onclick="this.form.submited = this.value;"   name="submit" value="50" >&nbsp;&nbsp;&nbsp;
    <input type="submit" class="btn btn-lg btn-success" onclick="this.form.submited = this.value;" name="submit" value="75" >&nbsp;&nbsp;&nbsp;
    <input type="submit" class="btn btn-lg btn-success" onclick="this.form.submited = this.value;"  name="submit" value="100" >&nbsp;&nbsp;&nbsp;


</form> 
<script>
     function myFunction(clicked) {
         var milesToSend = clicked + ' miles';
         document.paypalform.os0.value = milesToSend;
         return true;
     }

</script> 
		


<!--  <a href="index.php?credit=25"><img src="images/25miles.png" alt="25 miles credit" width="32" height="32" border="2" /></a>
			  &nbsp;
			  <a href="index.php?credit=50"><img src="images/50miles.png" alt="50 miles credit" width="32" height="32" border="2" /></a>
			  &nbsp;
			  <a href="index.php?credit=75"><img src="images/75miles.png" alt="75 miles credit" width="32" height="32" border="2" /></a>
			  &nbsp;
			  <a href="index.php?credit=100"><img src="images/100miles.png" alt="100 miles credit" width="32" height="32" border="2" /></a>
-->