<form action="https://www.paypal.com/cgi-bin/webscr" method="post"  name="paypalform" onsubmit="myFunction(this.submited);">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="KPMVC7V468GN4">
    <input type="hidden" name="on0" value="Buy miles">
    <input type="hidden" name="os0" value="">
   <input type="hidden" name="currency_code" value="GBP">
    <input type="submit" class="btn btn-lg btn-success" onclick="this.form.submited = this.value;"  name="submit" value="25" >&nbsp;&nbsp;&nbsp;
    <input type="submit" class="btn btn-lg btn-success" onclick="this.form.submited = this.value;"   name="submit" value="50" >&nbsp;&nbsp;&nbsp;
    <input type="submit" class="btn btn-lg btn-success" onclick="this.form.submited = this.value;" name="submit" value="75" >&nbsp;&nbsp;&nbsp;
    <input type="submit" class="btn btn-lg btn-success" onclick="this.form.submited = this.value;"  name="submit" value="100" >&nbsp;&nbsp;&nbsp;


</form> 
<script>
     function myFunction(clicked) {
         var milesToSend = clicked + ' miles';
         document.paypalform.os0.value = milesToSend;
         return true;
     }

</script> 




<table><tr>
<td>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="KPMVC7V468GN4">
	<table>
	<tr><td><input type="hidden" name="on0" value="Buy miles">Buy miles</td></tr><tr><td><select name="os0">
		<option value="25 miles">25 miles£4.50 GBP</option>
		<option value="50 miles">50 miles£9.00 GBP</option>
		<option value="75 miles">75 miles£13.50 GBP</option>
		<option value="100 miles">100 miles£18.00 GBP</option>
	</select> </td></tr>
	</table>
	<input type="hidden" name="currency_code" value="GBP">
	<input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
	</form>
</td>
</tr></table>
