<!--incl='header_menu.inc'-->


<section class="msgbox-1 profile_bg msgbox-3" style=" padding: 0 20px;margin-top: 0;">
	<div class="container">
		<div class="row">
			<h2 class="aboutheader1" style="text-align:center;">Registration is almost complete</h2>
			<br clear="all">            
			<div class="m register" style="min-height: 200px;">
				<div class="col-md-12">
					<div class="hero">
						<p style="text-align: center;">Registration is almost complete. We have sent you an email containing instructions on how to verify your account. Please check your email account to complete registration.</p>
					</div>
				</div>
				            
			</div>
		</div>
	</div>
</section>


<!--incl='footer.inc'-->