<div class="hd"><!--#rplc1#--></div>
<div class="bd">
	<style type="text/css">
	textarea {width:100%;height:100px;}
    #requestRideDlg {width:500px;}
	li {font-weight:bold;}
	</style>
    <form name="requestRideForm" method="POST" action="reqeustRide.php">
        <ul><li><!--#rplc2#--></li><li><!--#rplc3#--></li></ul>
        <br/><p><!--#rplc4#--></p><br/>
        <textarea id="comments" name="comments"></textarea>
    </form>
</div>
