<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/about_us.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong>SAFETY FIRST</strong></h2>
                        <p class="aboutheader"><h6>During Signup and on Profile page prior to travelling:</h6></p>

                        <ul class="innercontent">
                            <li>Join or start a corporate or neighbourhood group, so only people who are legitimate will be travelling together.</li>
 <li>The initiator of a group is in control of who becomes a member.</li>
 <li>All members must attaché Photo and Photo ID (driving Licence)</li>
 <li>Vehicle Registration and MOT is verified</li>
 <li>Insurance is verified.</li>
  <li>Email addresses are verified</li>
  <li>Mobile phones are verified</li>
  <li>You must sign up for a Stripe payment account</li>
                        </ul>
                                   <p class="aboutheader"><h6>When travelling together:</h6></p>

                        <ul class="innercontent">
                            <li>By Passenger entering vehicle registration a secure Journey is triggered. </li>
 <li>Name of Driver/Passenger is received</li>
 <li>Photo of Driver/Passenger is received</li>
 <li>A common passphrase is received by both passenger and driver</li>
 <li>Photos of passengers and drivers are displayed on respective phones. Make sure the photos match, before continuing the journey together.</li>
  <li>If a passenger feels uncomfortable or is previous measures don’t match-up, then passenger enters zero miles and does not enter the car.</li>
  <li>In any case, the Journey is highly visible, we track the Journey and we know who travelled with who, at what time and what location.</li>
 
                        </ul>
                </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->


<!--incl='footer.inc'-->
