<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->
<link href="content/web/styles/token-input.css" rel="stylesheet" type="text/css" />
<link href="content/web/styles/token-input-facebook.css" rel="stylesheet" type="text/css" />

<!-- { center | inverse } -->
<section class="msgbox-1 profile_bg" >
    <div class="container">
        <div class="row"><h2 style="text-align:center;" class="aboutheader1"><!--#rplc11#--></h2>
                <div class="col-sm-12">
                   
                
                <div >
<!---------->


<form name="indexForm" id="indexForm" method="post" action="index.php" onsubmit="return(onSubmit());">
<div class="m" align="left">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
 
    <tr>
   
      <td width="816" height="379" valign="middle"   scope="col"><div class="search-section" align="center">
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td valign="top">
	      <table width="90%" border="0" align="left" cellpadding="2" cellspacing="0">
                <tr>
                  <td valign="top" colspan="2">
		    <p align="left">
		      <strong>
		        <span class="welcomehead">
			  Welcome to <!--#rplc8#-->.com
		    	</span>
			<br/>
		        <span class="welcomebody">
			  To get started either enter your travel details and perform a quick search
			  or select an item from the menu bar above.
		        </span>
		      </strong>
		    </p>
		  </td>
                </tr>
                 <tr>
                  <td colspan="2"><div align="left"><span class="bodywhite text">Search Group</span></div></td>
                </tr>
                <tr>
                  <td width="26"></td>
                  <td align="left">
                     <input type="text" id="demo-input-prevent-duplicates" name="blah"/>
                     <input type="hidden" id="grouped_id" name="grouped_id" value=""/>
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="2"><div align="left"><span class="bodywhite text">From ...</span></div></td>
                </tr>
                <tr>
                  <td width="26"><img src="images/a.gif" width="19" height="19" /></td>
                  <td align="left">
                    <input name="source" type="text" id="source"  class="form-control" />
                  </td>
                </tr>
                    
             
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td colspan="2"><div align="left"><span class="bodywhite text">To ...</span></div></td>
                </tr>
                <tr>
                  <td><img src="images/b.gif" width="19" height="19" /></td>
                  <td align="left">
                    <input name="destination" type="text" id="destination" value=""  class="form-control" />
                  </td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  
                </tr>
                <tr>
                  <td></td>
                  <td colspan="2" align="left"><input type="hidden" id="searchBtn" value="Quick Search" /></td>
                </tr>
              </table>
	    </td>
            <td valign="top"><div class="map" align="right"><img src="images/map_source.gif" width="450" height="270" border="1" /></div></td>
          </tr>
        </table>
      </div></td>
    </tr>
  </table><div class="push">
</div>
</div>
<input type="hidden" name="op"/>
</form>





<!---------------->

</div>

                
                </p>
                </div>
               <!-- <div class="col-sm-5"><br><br>
		
            <div class="group"><a class="btn btn-lg btn-danger" href="">Buy Miles</a></div><br><div class="group"><a class="btn btn-lg btn-danger" href="">Plan A Journey</a></div><br>
<div class="group"><a class="btn btn-lg btn-danger" href="">Search For  A Journey</a></div><br>
                </div>-->
                
        </div>
    </div>
</section>
<script type="text/javascript">
<!--
function MM_goToURL() { //v3.0
  var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
  for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
}
//-->
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34567517-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
/**#rplc7#**//* Appliction generated script goes here */
</script>

<!--incl='footer.inc'-->