<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/about_us.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong>Terms And Conditions</strong></h2><p class="aboutheader">
              Welcome, If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern the relationship between Firsthumb and you with respect to this website. <br><br>

The term ‘First Thumb Ltd’ or ’.com’ or ‘us’ or ‘we’ refers to the owner of the website/application whose registered office is First Thumb Ltd. Ground Floor Offices Unit 4 Eaton Court Colmworth Business Park Eaton Socon, St Neots Cambridgeshire PE19 8ER United Kingdom<br><br>

Our company registration number is 7175398 and we were registered by Companies House on March 3rd, 2010. The term ‘you’ refers to the user or viewer of our website, or application residing either on a mobile phone or social website.</p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->
<section class="msgbox-1 black">
    <div class="container">
        <div class="row">
                <div class="col-sm-6">
                    <h2>Website Use</h2><p>
                <ul>
                  <li>
                    The content of the pages of this website/application is for your general information and use only. It is subject to change without notice.</li><br>
                    <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website/application for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
                    </li><br><li>Your use of any information or materials on this website/application is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website/application meet your specific requirements.
                    </li><br><li>This website/application contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
                   </li><br><li> All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.
                    </li><br><li>Unauthorised use of this website/application may give rise to a claim for damages and/or be a criminal offence.
                    </li><br><li>From time to time this website/application may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
                    </li><br><li>You may not create a link to this website/application from another website/application or document without First Thumb Ltd.’s prior written consent.
                   </li><br><li> Your use of this website/application and any dispute arising out of such use of the website/application is subject to the laws of England, Scotland and Wales.
                  </li>
                </ul></p>
                </div>
                <div class="col-sm-6">
                    <h2>Service</h2><p>
		
            <ul><li>The service provided is a brokering service between The Driver & The Passenger(s) as such Pricing is determined by First Thumb Ltd. Where disputes arise between any of the parties the final say regarding monies owed will lie with First Thumb Ltd.
</li><br><li>First Thumb Ltd is not a “match-making service” the Driver & Passenger are merely brought together through geographical convenience.
</li><br><li>The Driver & Passenger are ultimately responsible for their own safety and that of their possessions.
<br><br> - In the event that either party feels at any point that they do not wish to continue their Journey then it is their own responsibility to stop the Journey and get out.<br>
<br> - First Thumb Ltd does not accept any Liability for injury or loss or damage of property unless obliged to by law.<br>
</li><br><li>For the protection of both Driver & Passenger(s), First Thumb reserves the right to divulge where appropriate Journey information to Police authorities in the event of Harm coming to either party.<br>
<br> -  Harm in the case of these conditions refers to physical harm or suspected abduction.<br>
<br> -  The information provided is intended to assist the police proactively in any investigation and to help with the speedy assistance to the harmed party and hopefully minimise the inconvenience for all parties concerned.</li></ul>
</p>
                </div>
                
        </div>
    </div>
</section>

<!--incl='footer.inc'-->