<!--incl='header_menu.inc'-->
<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/about_us.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong>VIDEO INTRO</strong></h2><p class="aboutheader">


                      <video width="780" height="500" controls>
  <source src="https://firsthumb.com/content/web/video/IMG_0015.mp4" type="video/mp4">

  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>   
                         <video width="780" height="500" controls>
  <source src="https://firsthumb.com/content/web/video/FT Next Steps 1_small.mp4" type="video/mp4">

  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video> 
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->


<!--incl='footer.inc'-->
