<!--incl='header_menu.inc'-->
<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/about_us.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong>About Us</strong></h2><p class="aboutheader">Firsthumb is a new eco-social enterprise focussed on driving commuters and fellow travellers together in symbiotic harmony, while facilitating and delivering solutions at the heart of global eco initiatives.
                          <br>
                          <br>
                          Firsthumb is the first “Timely On Demand” travel service for sharing rides and giving lifts in cars. Firsthumb makes use of the latest innovations in Mobile and Web technologies to help provide a secure connection for drivers and passengers. </p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->
<section class="msgbox-1 black"><a name="get_started"></a>
    <div class="container">
        <div class="row">
                <div class="col-sm-4">
                    <h2>Getting started!</h2><p>
It's simple, you have to sign up, sign in, purchase miles through (paypal) and plan your journey. <div class="group">
                        
                        <a class="btn btn-lg btn-danger" href="register.htm">Sign Up Here!</a>
                    
                    </div></p>
                </div>
                <div class="col-sm-4">
                    <h2>Planning A Journey</h2><p>
You can only plan journeys after you sign up. You can then create journeys, search for journeys, advertize journeys and view a history of your journeys.
<div class="group"><a class="btn btn-lg btn-danger" href="login.htm">Plan A Journey</a></div><br><div class="group"><a class="btn btn-lg btn-danger" href="login.htm">Search For  A Journey</a></div>
</p>
                </div>
                <div class="col-sm-4">
                   <h2>Catching A Ride</h2><p>
Passengers stand at a convenient stopping point and hold out their Mobile Phones. When a driver pulls over the prospective passenger enters the car registration into their mobile phone, either via SMS or mobile Apps. Both passenger and driver receive the same secure passphrase which they show each other.
</p>
                </div>
        </div>
    </div>
</section>
<section class="msgbox-1 grey"><a name="why_we_do_it"></a>
    <div class="container">
        <div class="row">
                <div class="col-sm-12">
                    <blockquote>
                      <h2>what we do and Why We Do It</h2>
                      <p>Firsthumb is a new eco-social enterprise focussed on driving commuters and fellow travellers together in symbiotic harmony, while facilitating and delivering solutions at the heart of global eco initiatives.<br><br>Simple! We want to save the planet from ourselves for our children. Finding a way of bringing people together with the ideas of conserving fuel, cutting the cost of travel, and reducing the amount of time spent wasted in traffic jams and congested traffic, while providing a universal platform for addressing the eco challenges that lay ahead.
So if we can facilitate the tough part, that is, getting people to share rides together, then we just might help save the planet.</p></blockquote>
                </div>
                
        </div>
    </div>
</section>

<section class="msgbox-1">
    <div class="container">
        <div class="row">
                <div class="col-sm-6">
                    <blockquote><h2>Climate Change!</h2><p>World governments have established aggressive climate change targets. 250,000,000 tonnes is the maximum amount of carbon we can pump into the atmosphere to avoid catastrophic climate change. <br>
                      <br>
                      Scientists have calculated that this will produce a 2°C increase in global temperatures.

This is the point which the effects of dangerous global climate change is predicted to be irreversible. Unless radical steps are taken, at our current rates we will reach that point in 20 years. </p></blockquote>
                </div>
                <div class="col-sm-6">
                    <blockquote><h2>Population Growth</h2><p>
World population has reached 7 billion, that's doubled since 1965, and is still increasing at 200,000 per day, or 73 million per year.

Adopting a universal strategy of conserving our existing limited fossil fuel resources such as oil and gas, would seem one logical approach we should adopt.

This will of course just buy us time, while we figure out how to initiate a sustainable energy strategy, but the strain population growth has and will continue to place on the planet will not go away overnight.</p></blockquote>
                </div>
                
        </div>
    </div></section>
<!--incl='footer.inc'-->
