<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->

 <!--#rplc2#-->
    <!--#rplc19#-->
<section class="msgbox-1 profile_bg">
    <div class="container">
        <div class="row"><h2 style="text-align:center;" class="aboutheader1">Group Ownership Change</h2>
        <div class="m" style="min-height:0px">
                <div class="col-sm-7">
                    <p>
                
                

<!------- adding old form html -->


<form name="approveForm" id="approveForm">

<div align="left">
<div class="row">
<div class="col-sm-12">
<div class="col-sm-5 col-sm-offset-4" align="center">
<div class="approve"><input type="radio" name="approve" id="approve" selected="selected" value="y">&nbsp;Approve</div>
<div class="approve"><input type="radio" name="approve"  id="declain" value="n">&nbsp;Declain</div>
</div></div>
</div>
 <div class="row">
<div class="col-sm-12">
<div class="col-sm-5 col-sm-offset-5  col-xs-7 col-xs-offset-2">
<div class="approve-button"><button type="button" onclick="approveMemeberToOwner();"> Click Here</button></div>
 </div></div>
</div>
</div>


 
</form>


<!------- ending old form html -->



                
                </p>
                </div>
                <div class="col-sm-5"><br><br>
		
            <!--incl='header_menu_right.inc'--></div>
                <br clear="all" />
                </div>
        </div>
    </div>
</section>
<script type="text/javascript">
/**#rplc20#**//* Appliction generated script goes here */

</script>

<!--incl='footer.inc'-->
