<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/about_us.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong> BECOME A DRIVER</strong></h2><p class="aboutheader">

                        <ul class="innercontent">
                            <li>Sign up as a driver and automatically get credits from every passenger who travels with you. </li>
 <li> By joining a corporate or neighbourhood group you will only be giving lifts to group members who are part of your community .</li>
 <li> Pick up colleagues travelling your way at the same time, or extended neighbours who need a lift to work.</li>
 <li> Go to Buy –Sell Miles to redeem your credit and make 15p per mile per passenger.</li>
</ul>
                </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->


<!--incl='footer.inc'-->
