<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/about_us.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong> BECOME A PASSENGER</strong></h2><p class="aboutheader">

                        <ul class="innercontent">
                            <li>Sign up as a passenger and find rides with colleagues and neighbours who are travelling your way.</li>
 <li>Payments are automatic just purchase miles before you travel for 18P per mile. NOTE we match the first 25 miles and give you 25 miles extra.</li>
 <li>Credits are automatically transferred from passenger to driver after the completion of a trip together.</li>
 <li>By joining or starting a corporate or neighbourhood group you will only be giving lifts to group members who are part of your work or local community .</li>
 <li>Find lifts with colleagues travelling your way at the same time, or extended neighbours who are travelling in your direction at the same time.</li>
  <li>Go to Buy –Sell Miles to buy miles of credit before travelling in a members car.</li>
                        </ul>
                </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->


<!--incl='footer.inc'-->
