<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/about_us.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong>FARE PAYMENT</strong></h2>
                        <p class="aboutheader">During Signup and on Profile page prior to travelling:</p>

                        <ul class="innercontent">
                            <li>Passenger purchases miles through PayPal in 25 mile groups.</li>
 <li>Passengers must have at least 25 miles to travel, however we match the first 25 miles purchased, so passenger buys 25 miles and receives 50 miles.</li>
 <li>Passenger pays 18 p per mile in groups of 25.</li>
 <li>Driver redeems miles through PayPal at 15p per mile groups of 25.</li>
 
                        </ul>
                                   
                </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->


<!--incl='footer.inc'-->
