<!--incl='header_menu.inc'-->
<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/login_bg.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong>Forgot Password!</strong></h2><br><br><form style="height:310px;" name="loginForm" id="loginForm" method="post" action="forgot_password.php" onsubmit="return(onSubmit());">
<div class="rTable">
<div class="rTableBody">
<div class="rTableRow">
<div class="rTableCell">Email</div>
<div class="rTableCell"><input style="width:280px" id="email" name="email" type="text"/></div>
</div><br>
<div class="rTableRow">
    <div class="rTableCell"><input  type="button" value="Change Password" onclick="changePassword()" id="forgot_pass"/></div><br>
<div class="rTableCell"></div>
</div>

</div>
</div>
</form>


/**#rplc5#**/

                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section><div style="padding-top:67px;"></div>
<!--incl='footer.inc'-->
