<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/about_us.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong> HOW IT WORKS </strong></h2><p class="aboutheader">

                        <ul class="innercontent">
                            <li>Sign Up as a passenger or driver </li>
 <li> Create or join a group</li>
 <li> Join PAYPAL</li>
 <li> Download the app and start travelling with your colleagues and friends</li>
</ul>
                </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->


<!--incl='footer.inc'-->
