<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/about_us.jpg');">
    <div>
        <div class="container">
             <div class="row">
           
                <div class="col-sm-8">
                    <blockquote style="border-left:none !important"><h2>Firsthumb Mobile Apps</h2><p>Firsthumb provides a Mobile App solution to enable car drivers and passengers to securely connect together to share lifts or rides when they need to.</p></blockquote>
                </div>
                <div class="col-sm-4">
                    <br><br>
              <a href="http://itunes.apple.com/gb/app/first-thumb/id481971973?mt=8"><img src="assets/images/ios_app.png" width="153" height="52"></a><a href="https://firsthumb.com/main/content/web/androidapp/FirstThumb-debug.apk"><img src="assets/images/andriod_app.png" width="153" height="52"></a>
                 <br><br><br>
                </div>
        </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->


<!--incl='footer.inc'-->
