<!--incl='header_menu.inc'-->
<!-- { center | inverse } -->
<link href="content/web/styles/token-input.css" rel="stylesheet" type="text/css" />
<link href="content/web/styles/token-input-facebook.css" rel="stylesheet" type="text/css" />
<section class="msgbox-1 profile_bg">
    <div class="container">
        <div class="row"><h2 style="text-align:center;" class="aboutheader1"><!--#rplc11#--></h2><!--  class="row_header2" commented from div of <div ><h2  -->
            <div class="m">
                <div class="col-sm-7">
                    <p>



                    <form name="mainForm" id="mainForm" method="post" action="newjourney.php" onsubmit="return(onSubmit());">

                        <div class="a">
                            <div class="l">Search Group</div><div class="r"> 
                                <input type="text" id="demo-input-prevent-duplicates" name="blah"/>
                                <input type="hidden" id="grouped_id" name="grouped_id" value="0"/>
                            </div></div>
                        <div class="a" id="requestTypeErrorId">
                            <div class="l">Type of journey</div><div class="r"> 

                                <input type="button" width="100" id="requestType" name="requestType_button">
                                <select width="100" id="requestTypeSelect" name="requestTypeSelect">
                                    <option value="u">Please Select</option>
                                    <option value="s">I am seeking a lift</option>
                                    <option value="o">I am offering a lift</option>
                                    <option value="e">I am offering to share a lift</option>                
                                </select>

                            </div></div>

                        <div class="a">
                            <div class="l">Time Of Journey</div>

                            <div class="r" style="" id="journeyType">
                                <div class="time-journey"><input style="width:25" type="radio" id="regularJourney" name="journeyType" value="r" onclick="journeyTypeOnClick(event)"/>&nbsp;Regular Daily Journeys</div>
                                <div class="time-journey two"><input style="width:25" type="radio" id="oneOffJourney" name="journeyType" value="o" onclick="journeyTypeOnClick(event)"/>&nbsp;One-off Journey</div>
                            </div>
                        </div>

                        <div class="oneOffOptions" align="left">
                            <div class="start-time">

                                <table class="optionTable" align="left" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td id="oneOffFields">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td><!--#rplc2#-->&nbsp;<a id="_oneOffDate" href="javascript:selectDate('_oneOffDate')">select a date</a></td>
                                                </tr>
                                                <tr>
                                                    <td><!--#rplc3#-->&nbsp;<a id="_oneOffTime" href="javascript:selectTime('_oneOffTime')"><!--#rplc6#--></a></td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>

                                </table>

                            </div>

                        </div>    

                        <div class="regularOptions">
                            <table class="optionTable" align="right" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td id="scheduleType">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><input style="width:25" type="radio" id="standardSchedule" name="scheduleType" value="s" onclick="scheduleTypeOnClick(event)"/>&nbsp;Standard Schedule 5 days Mon to Fri</td>
                                            </tr>
                                            <tr>
                                                <td><input style="width:25" type="radio" id="customSchedule" name="scheduleType" value="c" onclick="scheduleTypeOnClick(event)"/>&nbsp;Custom Weekly Schedule</td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>

                            </table>
                        </div>
                        <div class="standardSchedule">
                            <table class="optionTable" align="left" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td id="standardScheduleFields">
                                        <div class="start-time">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td><!--#rplc37#-->&nbsp;<a id="_standardStartTime" href="javascript:selectTime('_standardStartTime')"><!--#rplc6#--></a></td>
                                                </tr>
                                                <tr>
                                                    <td><!--#rplc5#-->&nbsp;<a id="_standardReturnTime" href="javascript:selectTime('_standardReturnTime')"><!--#rplc6#--></a></td>
                                                </tr>
                                            </table>
                                        </div>

                                    </td>
                                </tr>

                            </table>
                        </div>   

                        <div class="customSchedule">
                            <table class="optionTable" align="left" border="1" cellpadding="0" cellspacing="0" style="border-color:#FFFFFF;width:100%" bgcolor="#F5F5F5">
                                <tr>
                                    <td width="20%">&nbsp;</td>
                                    <td width="40%">
                                        <div align="center">Journey Start</div>			</td>
                                    <td width="40%">
                                        <div align="center">Journey Return</div>			</td>
                                </tr>
                                <tr>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5"><input name="monday" type="checkbox" value="1"/> M</td>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5">
                                        <div align="center"><a id="_monStartTime" href="javascript:selectTime('_monStartTime')"><!--#rplc6#--></a></div>			</td>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5">
                                        <div align="center"><a id="_monReturnTime" href="javascript:selectTime('_monReturnTime')"><!--#rplc6#--></a></div>			</td>
                                </tr>
                                <tr>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5"><input type="checkbox" name="tuesday" value="1"/> T</td>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5">
                                        <div align="center"><a id="_tueStartTime" href="javascript:selectTime('_tueStartTime')"><!--#rplc6#--></a></div>			</td>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5">
                                        <div align="center"><a id="_tueReturnTime" href="javascript:selectTime('_tueReturnTime')"><!--#rplc6#--></a></div>			</td>
                                </tr>
                                <tr>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5"><input type="checkbox" name="wednesday" value="1"/> W</td>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5">
                                        <div align="center"><a id="_wedStartTime" href="javascript:selectTime('_wedStartTime')"><!--#rplc6#--></a></div>			</td>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5">
                                        <div align="center"><a id="_wedReturnTime" href="javascript:selectTime('_wedReturnTime')"><!--#rplc6#--></a></div>			</td>
                                </tr>
                                <tr>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5"><input type="checkbox" name="thursday" value="1"/> T</td>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5">
                                        <div align="center"><a id="_thuStartTime" href="javascript:selectTime('_thuStartTime')"><!--#rplc6#--></a></div>			</td>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5">
                                        <div align="center"><a id="_thuReturnTime" href="javascript:selectTime('_thuReturnTime')"><!--#rplc6#--></a></div>			</td>
                                </tr>
                                <tr>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5"><input type="checkbox" name="friday" value="1"/> F</td>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5">
                                        <div align="center"><a id="_friStartTime" href="javascript:selectTime('_friStartTime')"><!--#rplc6#--></a></div>			</td>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5">
                                        <div align="center"><a id="_friReturnTime" href="javascript:selectTime('_friReturnTime')"><!--#rplc6#--></a></div>			</td>
                                </tr>
                                <tr>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5"><input name="saturday" type="checkbox" value="1"/> S</td>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5">
                                        <div align="center"><a id="_satStartTime" href="javascript:selectTime('_satStartTime')"><!--#rplc6#--></a></div>			</td>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5">
                                        <div align="center"><a id="_satReturnTime" href="javascript:selectTime('_satReturnTime')"><!--#rplc6#--></a></div>			</td>
                                </tr>
                                <tr>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5"><input type="checkbox" name="sunday" value="1"/> S</td>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5">
                                        <div align="center"><a id="_sunStartTime" href="javascript:selectTime('_sunStartTime')"><!--#rplc6#--></a></div>			</td>
                                    <td height="29" valign="middle" bgcolor="#F5F5F5">
                                        <div align="center"><a id="_sunReturnTime" href="javascript:selectTime('_sunReturnTime')"><!--#rplc6#--></a></div>			</td>
                                </tr>
                            </table>
                            <table class="optionTable" align="left" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td colspan="3" background="images/horizontal_dot.gif">&nbsp;</td>
                                </tr>
                            </table>
                        </div>









                        <div class="a"><div class="l">Pickup from</div><div class="r">

                                <div  id="startAddressTd"><input name="startAddress" class="pickbox" id="startAddress" style="width:100%" onblur="locationOnBlur(event)"/></div>		 

                            </div></div>
                        <br><br>

                        <div class="a"><div class="l">Travel Destination Postcode/ Address</div><div class="r">

                                <div valign="top" id="destinationTd"><input name="destination" type="text" class="pickbox" id="destination" style="width:100%" onblur="locationOnBlur(event)" /></div>

                            </div></div>
                        <br><br>
                        <input type="hidden" name="op" />
                        <input type="hidden" name="submitVals"/>


                        <div class="a"><div class="l"></div><div class="r">

                                <div id="createSchedule"/><br><br>	

                            </div></div></div>


                </form>




                </p>
            </div>


            <div class="col-sm-5"><br><br>

                <!--incl='header_menu_right.inc'-->
            </div>
            <br clear="all" /> 
        </div>
    </div>
</div>

</section>



<!--incl='footer.inc'-->

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34567517-1']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
<style type="text/css">
    .customOptions {width:500px;display: none}
    .pickUpOptions {width:500px;display: none}
    .oneOffOptions {width:500px;display: none}
    .standardSchedule {display: none}

</style>

<script type="text/javascript">
    /**#rplc9#**//* Appliction generated script goes here */
</script>