<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/about_us.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong>Privacy Policy</strong></h2><p class="aboutheader">This privacy policy sets out how Firsthumb  uses and protects any information that you give Firsthumb when you use this website. 
Firsthumb  is committed to ensuring that your privacy is protected. <br>
<br>
Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement. 
<br>
<br>
Firsthumb may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 1st October 2011.</p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->
<section class="msgbox-1 black">
    <div class="container">
        <div class="row">
                <div class="col-sm-4">
                    <h2>What We Collect</h2>
                <p>
We may collect the following information: 

<ul><li>Name and Job title</li><br><li>Contact information including email address

</li><br><li>Demographic information such as postcode, preferences and interests

</li><br><li>Journey information relevant for trend modelling such as time service used, distances & direction of travel

other information relevant to customer surveys and/or offers</ul></p>
                </div>
                <div class="col-sm-4">
                    <h2>What We Do With The Data</h2><p>
        
We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:

 <ul><br><li> Internal record keeping. </li><br><li>

We may use the information to improve our products and services. 

</li><br><li>We may periodically send promotional emails about new products, special offers or other information which we think you may find interesting using the email address which you have provided. 

</li><br><li>From time to time, we may also use your information to contact you for market research purposes. We may contact you by email, phone, fax or mail. We may use the information to customise the website/application according to your interests.

</li><br><li>For the protection of the users of the service, Information may be where deemed necessary be provided to police authorities. First Thumb holds the final say as to when it is necessary to provide the police such information.</li></ul>
</p>
                </div>
                <div class="col-sm-4">
                   <h2>How We Use Cookies </h2>
			<p>
A cookie is a small file which asks permission to be placed on your computer's hard drive. Once you agree, the file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site. Cookies allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering and remembering information about your preferences. 
<br><br>We use traffic log cookies to identify which pages are being used. This helps us analyse data about web page traffic and improve our website/application in order to tailor it to customer needs. We only use this information for statistical analysis purposes and then the data is removed from the system. <br><br>
Overall, cookies help us provide you with a better website/application, by enabling us to monitor which pages you find useful and which you do not. A cookie in no way gives us access to your computer or any information about you, other than the data you choose to share with us. 
You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website/application. 
</p>
                </div>
        </div>
    </div>
</section>
<section class="msgbox-1 grey">
    <div class="container">
        <div class="row">
                <div class="col-sm-12">
                    <blockquote><h2>Security</h2>
             <p>We are committed to ensuring that your information is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.</p></blockquote>
                </div>
                
        </div>
    </div>
</section>

<section class="msgbox-1">
    <div class="container">
        <div class="row">
                <div class="col-sm-6">
                    <blockquote><h2>Controlling Your Personal Information </h2>
			<p> 
You may choose to restrict the collection or use of your personal information in the following ways: 

<ul><br><li>whenever you are asked to fill in a form on the website/application, look for the box that you can click to indicate that you do not want the information to be used by anybody for direct marketing purposes

</li><br><li>If you have previously agreed to us using your personal information for direct marketing purposes, you may change your mind at any time by writing to or emailing us 

</li><br><li>We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law to do so. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen.

</li><br><li>You may request details of personal information which we hold about you under the Data Protection Act 1998. A small fee will be payable. If you would like a copy of the information held on you please write to First Thumb Ltd., 17B Broadway, Ely, Cambridgeshire, CB7 4AJ.

</li><br><li>If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.</li></ul></p></blockquote>
                </div>
                <div class="col-sm-6">
                    <blockquote><h2>Links To Other Websites  </h2>
                <p>
Our website/application may contain links to other websites of interest. However, once you have used these links to leave our site, you should note that we do not have any control over that other website. <br><br>Therefore, we cannot be responsible for the protection and privacy of any information which you provide whilst visiting such sites and such sites are not governed by this privacy statement. <br><br>You should exercise caution and look at the privacy statement applicable to the website in question.</p></blockquote>
                </div>
                
        </div>
    </div></section>

<!--incl='footer.inc'-->