<!--incl='header_menu.inc'-->

<!-- { center | inverse } -->
<section class="hero-1 center inverse mbr-v-middle mbr-fullscreen mbr-parallax-background" style="background-image: url('content/web/assets/images/safety_bg.jpg');">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="hero">
                        <h2 class="aboutheader"><strong>Safety</strong></h2><p class="aboutheader">We Track The Journey we know who got in the car with who, when and where they travelled to and from. <br>
                          <br>
                          Everyone has to register Firsthumb needs all users to register their details and have an active PayPal account. </p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- { center | inverse } -->
<section class="msgbox-1 black">
    <div class="container">
        <div class="row">
                <div class="col-sm-6">
                    <h2>Everyone Has To Sign Up</h2><p>
Firsthumb needs all users to register their details when they sign up and have an active PayPal account.<br>
<br>
                  
  <strong><em>NOTE: Your Firsthumb userID(email) should be your PayPal UserID(email)</em></strong></p>
<p><strong><em>HOWEVER: make sure your Firsthumb password is different from you PayPal password.</em></strong><em></em></p>
                <p>We  need a physical address with postcode, email address (see above) with a mobile phone number.                  </p>
                <p>Drivers must also provide a vehicle registration number, and have a valid driving licence. They must also have valid vehicle documents such as  Road Tax, MOT and Insurance.                  </p>
                <p>Corporate and group users must also enter their corporate email ID to use the broadcast messaging service to be able to send lift requests around your group of organizations. </p>
                </div>
                <div class="col-sm-6">
                    <h2>Password Protected Journeys</h2><p>
Both passenger and driver are sent  a unique password for each journey, if the driver/passenger can’t show you the right password don’t get in the car.
</p>
                </div>
                
        </div>
    </div>
</section>

<!--incl='footer.inc'-->