<!--incl='header_menu.inc'-->




<!-- { center | inverse } -->
<section class="msgbox-1 profile_bg" >
    <div class="container">
        <div class="row"><h2 style="text-align:center;" class="aboutheader1"><!--#rplc11#--></h2>
        <div class="m">
                <div class="col-sm-7">
                    <p>
                
                
<!---------->


<form name="resultForm" id="resultForm" method="post" action="arrange_travel_results.php" onsubmit="return(onSubmit());">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="134" height="30" scope="col">&nbsp;</td>
      <td width="816" height="30" scope="col"><div id="pageName">&nbsp;</div></td>
    </tr>
    <tr>
      <th width="134" height="100%" scope="col">&nbsp; </th>
      <td width="816" valign="middle" scope="col"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="25"  scope="col">&nbsp;</td>
          </tr>
          <tr>
            <td ><table width="95%" border="0" align="left" cellpadding="0" cellspacing="0">

        <tr>
          <td width="280" valign="top"><table width="320" border="0" cellpadding="2" cellspacing="0">
              <tr>
                <td colspan="2">From ...</td>
              </tr>
              <tr>
                <td width="23"><img src="images/a.gif" width="19" height="19" /></td>
                <td width="286"><input name="source" type="text" class="pickbox" id="source" onblur="onBlur(event)" value="/**#rplc3#**/" size="50" /></td>
              </tr>
              <tr>
                <td colspan="2">To ...</td>
              </tr>
              <tr>
                <td><img src="images/b.gif" width="19" height="19" /></td>
                <td><input name="destination" type="text" class="pickbox" id="destination" onblur="onBlur(event)" value="/**#rplc5#**/" size="50"/></td>
              </tr>
                <tr>
                <td/><td style="padding-top:10px;padding-bottom:10px" align="left">
                   <input id="searchBtn" type="hidden" value="Search Again" />
                </td>
              </tr>
              <tr>
                <td colspan="2"><div id="results"></div></td>
              </tr>
            </table></td>
          <td width="400" align="left" valign="top"></td>
        </tr>
      </table></td>
          </tr>
          <tr>
            <td height="25" >&nbsp;</td>
          </tr>
      </table></td>
    </tr>
  </table>
<input type="hidden" name="op"/>
</form>





<!---------------->



                
                </p>
                </div>
                <div class="col-sm-5"><!--<br><br>
		
            <div class="group"><a class="btn btn-lg btn-danger" href="">Buy Miles</a></div><br><div class="group"><a class="btn btn-lg btn-danger" href="">Plan A Journey</a></div><br>
<div class="group"><a class="btn btn-lg btn-danger" href="">Search For  A Journey</a></div><br>
-->        

<div class="map" align="right"><div id="map_canvas"></div></div>
        </div>
                
                <br clear="all" />
                </div>
        </div>
    </div>
</section>
<script type="text/javascript">
<!--
function MM_goToURL() { //v3.0
  var i, args=MM_goToURL.arguments; document.MM_returnValue = false;
  for (i=0; i<(args.length-1); i+=2) eval(args[i]+".location='"+args[i+1]+"'");
}
//-->
</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34567517-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!--#rplc2#-->

<!--incl='footer.inc'-->

<style>
    #map_canvas {margin-left:5px;width:370px;height:370px}
</style>