<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div style="height:300px;width:450px;overflow:auto">
<table width="400" border="0" align="center" cellpadding="0" cellspacing="0" class="bodytext">  
  <tr>
    <td colspan="5"></td>
  </tr>
  <tr>
    <td colspan="5">
     <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
        <tr>
          <td valign="top"><p>



<strong>Website/Application usage terms and conditions </strong>
<br />
<br />
Welcome to our website/application. If you continue to browse and use this
website/application you are agreeing to comply with and be bound by the
following terms and conditions of use, which together with our privacy policy
govern the relationship between First Thumb Ltd. (or <!--#rplc8#-->.com) and you
with respect to this website/application. 
<br />
<br />
The term ‘First Thumb Ltd’ or ’<!--#rplc8#-->.com’ or ‘us’ or ‘we’ refers to
the owner of the website/application whose registered office is First Thumb
Ltd., 17B Broadway, Ely, Cambridgeshire, CB7 4AJ.
Our company registration number is 7175398 and we were registered by
Companies House on March 3rd, 2010. The term ‘you’ refers to the user or viewer
of our website, or application residing either on a mobile phone or social
website. 
<br />
<br />
<strong>The use of this website/application is subject to the following terms of use:</strong>
<br />
<br />
<ul>
<li>The content of the pages of this website/application is for your general
information and use only. It is subject to change without notice.
</li>
<li>Neither we nor any third parties provide any warranty or guarantee as to the
accuracy, timeliness, performance, completeness or suitability of the
information and materials found or offered on this website/application for any
particular purpose. You acknowledge that such information and materials may
contain inaccuracies or errors and we expressly exclude liability for any such
inaccuracies or errors to the fullest extent permitted by law.
</li>
<li>Your use of any information or materials on this website/application is
entirely at your own risk, for which we shall not be liable. It shall be your
own responsibility to ensure that any products, services or information
available through this website/application meet your specific requirements.
</li>
<li>This website/application contains material which is owned by or licensed to
us. This material includes, but is not limited to, the design, layout, look,
appearance and graphics. Reproduction is prohibited other than in accordance
with the copyright notice, which forms part of these terms and conditions.
</li>
<li>All trademarks reproduced in this website, which are not the property of, or
licensed to the operator, are acknowledged on the website.
</li>
<li>Unauthorised use of this website/application may give rise to a claim for
damages and/or be a criminal offence.
</li>
<li>From time to time this website/application may also include links to other
websites. These links are provided for your convenience to provide further
information. They do not signify that we endorse the website(s). We have no
responsibility for the content of the linked website(s).
</li>
<li>You may not create a link to this website/application from another
website/application or document without First Thumb Ltd.’s prior written
consent. 
</li>
<li>Your use of this website/application and any dispute arising out of such use
of the website/application is subject to the laws of England, Scotland and
Wales.
</li>
</ul>
<br />
<strong>Service</strong>
<br />
<br />
<ul>
<li>The service provided is  a brokering service between The Driver &amp; The
Passenger(s) as such Pricing is determined by First Thumb Ltd. Where disputes
arise between any of the parties the final say regarding monies owed will lie
with First Thumb Ltd.
</li>
<li>First Thumb Ltd is not a “match-making service” the Driver &amp; Passenger are
merely brought together through geographical convenience.
</li>
<li>The Driver &amp; Passenger are ultimately responsible for their own safety and
that of their possessions.
<ul>
<li>In the event that either party feels at any point that they do not wish to
continue their Journey then it is their own responsibility to stop the Journey
and get out.
</li>
<li>First Thumb Ltd does not accept any Liability for injury or loss or damage
of property unless obliged to by law.
</li>
</ul>
</li>
<li>For the protection of both Driver &amp; Passenger(s), First Thumb reserves the
right to divulge where appropriate Journey information to Police authorities in
the event of Harm coming to either party.
<ul>
<li>Harm in the case of these conditions refers to physical harm or suspected
abduction.
</li>
<li>The information provided is intended to assist the police proactively in
any investigation and to help with the speedy assistance to the harmed party
and hopefully minimise the inconvenience for all parties concerned.
</li>
</ul>
</li>
</ul>
<br />
<strong>Additional Terms</strong>
<br />
<br />
<ul>
<li>First Thumb Ltd, reserves the right to change these terms and conditions as
well as the privacy agreement when they deem it appropriate, notification will
be made where necessary.
</li>
</ul>



          </p></td>
        </tr>
      </table>
    <br />      </td>
</table>
</div>
<br/>
<div style="text-align:right"><input type="hidden" style="text-align: right" align="right" id="closeBtn" value="Close" /></div>

