
.vc_ui-panel-header-container {
	background-image: none !important;
	background-color: #2b3643 !important;
}
.vc_general.vc_ui-tabs-line>.vc_active>.vc_ui-tabs-line-trigger {
	background-color: #3e4b5c !important;
	color: #ffffff !important;
}
.vc_add-element-container .wpb-elements-list {
	background-color: #000000;
}
.vc_add-element-container .wpb-content-layouts li {
	background-color: #222527 !important;
	border: none !important;
	padding: 0 !important;	
	margin: 0px 0.4% 0.4% 0 !important;
	width: 13.85% !important;
	height: auto !important;
	transition: background-color .2s ease-in-out !important;
	-webkit-transition: background-color .2s ease-in-out !important;
	-moz-transition: background-color .2s ease-in-out !important;
}
.vc_add-element-container .wpb-content-layouts a {
	width: 175px;
    height: 145px !important;
    text-align: center;
    padding: 20px 15px !important;
    color: #b4bcc8;
    font-size: 13px;
    vertical-align: top !important;
    transition: color .2s ease-in-out !important;
	-webkit-transition: color .2s ease-in-out !important;
	-moz-transition: color .2s ease-in-out !important;
}
.vc_add-element-container .vc_element-icon {
	position: relative !important;
	top: 0 !important;
	left: 0 !important;
	display: block !important;
    margin: 0 auto 20px auto !important;
}
.vc_add-element-container .wpb-content-layouts a .vc_element-description {
	padding-top: 5px !important;
}
.vc_add-element-container .wpb-content-layouts li:hover {
	border: none !important;
	background-color: #353b42 !important;
}
.vc_add-element-container .wpb-content-layouts li:hover a {
	color: #ffffff;
}

/* Elements background images */

.wpb-layout-element-button [class*="icon-wpb-"], .vc_element-icon[class*="icon-wpb"], .vc_element-icon[class*="vc_icon"] { background-position: 0px 0px!important;}

/*row */
.wpb-layout-element-button .icon-wpb-row { background-image: url(../images/vc/row.png)!important;}

/*text block */
.wpb-layout-element-button .icon-wpb-layer-shape-text { background-image: url(../images/vc/text_block.png)!important;}

/*icon */
.wpb-layout-element-button .icon-wpb-vc_icon, .vc_element-icon.icon-wpb-vc_icon { background-image: url(../images/vc/icon.png)!important;}

/*custom heading */
.wpb-layout-element-button .icon-wpb-ui-custom_heading, .vc_element-icon.icon-wpb-ui-custom_heading { background-image: url(../images/vc/custom_heading.png)!important;}

/*button */
.wpb-layout-element-button .icon-wpb-ui-button, .vc_element-icon.icon-wpb-ui-button { background-image: url(../images/vc/button.png)!important;}

/*tabs */
.wpb-layout-element-button .icon-wpb-ui-tab-content { background-image: url(../images/vc/tabs.png)!important;}

/*tour */
.wpb-layout-element-button .icon-wpb-ui-tab-content-vertical { background-image: url(../images/vc/tour.png)!important;}

/*accordion */
.wpb-layout-element-button .icon-wpb-ui-accordion { background-image: url(../images/vc/accordion.png)!important;}

/*contact form */
.wpb-layout-element-button .icon-wpb-contactform7,.vc_element-icon.icon-wpb-contactform7 { background-image: url(../images/vc/contact-form-7.png)!important;}

/*separator text */
.wpb-layout-element-button .icon-wpb-ui-separator-label { background-image: url(../images/vc/text_separator.png)!important;}

/*message box */
.wpb-layout-element-button .icon-wpb-information-white { background-image: url(../images/vc/message_box.png)!important;}

/*facebook like */
.wpb-layout-element-button .icon-wpb-balloon-facebook-left, .vc_element-icon.icon-wpb-balloon-facebook-left { background-image: url(../images/vc/facebook_like.png)!important;}

/*tweetme */
.wpb-layout-element-button .icon-wpb-tweetme, .vc_element-icon.icon-wpb-tweetme { background-image: url(../images/vc/social_icons.png)!important;}

/*google + */
.wpb-layout-element-button .icon-wpb-application-plus, .vc_element-icon.icon-wpb-application-plus { background-image: url(../images/vc/social_icons.png)!important;}

/*pinterest */
.wpb-layout-element-button .icon-wpb-pinterest, .vc_element-icon.icon-wpb-pinterest { background-image: url(../images/vc/social_icons.png)!important;}

/*faq */
.wpb-layout-element-button .icon-wpb-toggle-small-expand { background-image: url(../images/vc/toggle.png)!important;}

/*single image */
.wpb-layout-element-button .icon-wpb-single-image, .vc_element-icon.icon-wpb-single-image { background-image: url(../images/vc/single_image.png)!important;}

/*images gallery */
.wpb-layout-element-button .icon-wpb-images-stack, .vc_element-icon.icon-wpb-images-stack { background-image: url(../images/vc/image_gallery.png)!important;}

/*image carousel */
.wpb-layout-element-button .icon-wpb-images-carousel, .vc_element-icon.icon-wpb-images-carousel { background-image: url(../images/vc/image_carousel.png)!important;}

/*section */
.wpb-layout-element-button .vc_icon-vc-section { background-image: url(../images/vc/section.png)!important; background-position: 0px 0px !important}

/*pageable container */
.wpb-layout-element-button .icon-wpb-ui-pageable { background-image: url(../images/vc/pageable_container.png)!important;}

/*call to action */
.wpb-layout-element-button .icon-wpb-call-to-action, .vc_element-icon.icon-wpb-call-to-action { background-image: url(../images/vc/call_action.png)!important;}

/*widgetised sidebar */
.wpb-layout-element-button .icon-wpb-layout_sidebar, .vc_element-icon.icon-wpb-layout_sidebar { background-image: url(../images/vc/widgetised_sidebar.png)!important;}

/*video player */
.wpb-layout-element-button .icon-wpb-film-youtube, .vc_element-icon.icon-wpb-film-youtube { background-image: url(../images/vc/video_player.png)!important;}

/*video player */
.wpb-layout-element-button .icon-wpb-map-pin, .vc_element-icon.icon-wpb-map-pin { background-image: url(../images/vc/google-maps_default.png)!important;}

/*raw html */
.wpb-layout-element-button .icon-wpb-raw-html, .vc_element-icon.icon-wpb-raw-html { background-image: url(../images/vc/raw_html.png)!important;}

/*raw js */
.wpb-layout-element-button .icon-wpb-raw-javascript, .vc_element-icon.icon-wpb-raw-javascript { background-image: url(../images/vc/raw_html.png)!important;}

/*flickr widget*/
.wpb-layout-element-button .icon-wpb-flickr, .vc_element-icon.icon-wpb-flickr { background-image: url(../images/vc/social_icons.png)!important;}

/*progress bar */
.wpb-layout-element-button .icon-wpb-graph, .vc_element-icon.icon-wpb-graph { background-image: url(../images/vc/progress-bar.png)!important;}

/*pie chart */
.wpb-layout-element-button .icon-wpb-vc_pie, .vc_element-icon.icon-wpb-vc_pie { background-image: url(../images/vc/pie_chart.png)!important;}

/*round chart */
.wpb-layout-element-button .icon-wpb-vc-round-chart, .vc_element-icon.icon-wpb-vc-round-chart { background-image: url(../images/vc/round_chart.png)!important;}

/*line chart */
.wpb-layout-element-button .icon-wpb-vc-line-chart, .vc_element-icon.icon-wpb-vc-line-chart { background-image: url(../images/vc/line-chart.png)!important;}

/*empty space */
.wpb-layout-element-button .icon-wpb-ui-empty_space, .vc_element-icon.icon-wpb-ui-empty_space { background-image: url(../images/vc/empty-space.png)!important;}

/*posts grid */
.wpb-layout-element-button .icon-wpb-application-icon-large, .vc_element-icon.icon-wpb-application-icon-large { background-image: url(../images/vc/posts_grid.png)!important;}

/*media grid */
.wpb-layout-element-button .vc_icon-vc-media-grid, .vc_element-icon.vc_icon-vc-media-grid { background-image: url(../images/vc/media-grid.png)!important; background-position: 0px 0px;}

/*post masonry grid */
.wpb-layout-element-button .vc_icon-vc-masonry-grid, .vc_element-icon.vc_icon-vc-masonry-grid { background-image: url(../images/vc/masonry.png)!important; background-position: 0px 0px;}

/*masonry media grid */
.wpb-layout-element-button .vc_icon-vc-masonry-media-grid, .vc_element-icon.vc_icon-vc-masonry-media-grid { background-image: url(../images/vc/masonry.png)!important; background-position: 0px 0px;}

/*layer slider */
.wpb-layout-element-button .icon-wpb-layerslider, .vc_element-icon.icon-wpb-layerslider { background-image: url(../images/vc/layerslider.png)!important;}

/*revolution slider */
.wpb-layout-element-button .icon-wpb-revslider, .vc_element-icon.icon-wpb-revslider { background-image: url(../images/vc/revolution-slider.png)!important;}

/*posts slider */
.wpb-layout-element-button .icon-wpb-slideshow, .vc_element-icon.icon-wpb-slideshow { background-image: url(../images/vc/posts-slider.png)!important;}

/*woocommerce */
.wpb-layout-element-button .icon-wpb-woocommerce, .vc_element-icon.icon-wpb-woocommerce { background-image: url(../images/vc/woo-icon.png)!important;}

/*widgets */
.wpb-layout-element-button .icon-wpb-wp, .vc_element-icon.icon-wpb-wp { background-image: url(../images/vc/wp-logo.png)!important;} 



@media only screen and (max-width: 1650px) and (min-width: 1300px) {
	.wpb-content-layouts-container .wpb-content-layouts .wpb-layout-element-button {
	    width: 16.2% !important;
	}
}

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
	.wpb-content-layouts-container .wpb-content-layouts .wpb-layout-element-button {
	    width: 19.4% !important;
	}
}

@media only screen and (max-width: 1200px) and (min-width: 690px) {
	.wpb-content-layouts-container .wpb-content-layouts .wpb-layout-element-button {
	    width: 24.4% !important;
	}
}