/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 100%;
    border: 1px solid #cccccc;
    cursor: text;
      
    z-index: 999;
    margin: 0;
    padding:3px 0px;
    background-color: #fff;
    list-style-type: none;
    clear: left;

}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    width: 350px;
    padding: 3px 8px;
    background-color: white;
    -webkit-appearance: caret;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 3px;
    padding: 3px 5px;
    background-color: #ccc;
    color: #000;
    
    cursor: default;
    display: block;
float:left;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #000;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #08844e;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: 302px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
   
    
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #d0efa0;
}

.myGroupsRows td{
	border-top:none !important;
	}
.myGroupsRows select{
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
	}
.group-result{
	width:100%;
	margin-bottom:10px;
	display:inline-block;
	}
.group-result .fileds{
	width:70%;
	float:left;
	}
.group-result .remove-member-button{
	width:30%;
	float:left;
	}
.group-result .remove-member-button input{
	background-color:#f97352;
	padding:10px 20px;
	border:none;
	color:#FFF;
	}
.group-result .remove-member-button input:hover{
	background-color:#000000;
	}
.new-group{
	text-align:left;
	padding-top:10px;
	font-weight:bold;
	}
@media (max-width: 991px) {
.group-result .remove-member-button.delet{
	margin-top:30px;
	}
.group-result .remove-member-button.delet input{
	float:left;
	margin-left:10px;
	}
}
@media (max-width: 550px) {
	.group-result .fileds,
	.group-result .remove-member-button{
		width:100%;
		}
	.group-result .remove-member-button{
		margin-top:10px !important;
		}
	.group-result .remove-member-button.delet input{
	float:left;
	margin-left:0px;
	margin-top:0px;
	}
	}