* {
	margin: 0;
}
html, body, textarea, button {

	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	height: 100%;
}

button, input, a {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

.welcomehead {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#FF8000;
	height: 100%;
}
.welcomebody {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	height: 100%;
}
.bodywhite {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	height: 100%;
}
.bodytext {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	height: 100%;
}
#pageName {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#3A793A;
	height: 100%;
}

a.navbarAlt:link {color:#AAFF00;text-decoration:none;font-weight: bold;}
a.navbarAlt:visited {color:#AAFF00;text-decoration:none;font-weight: bold;}
a.navbarAlt:hover {color:#AAFF00;text-decoration:none;font-weight: bold}

a.navbar:link {color:#FFFFFF;text-decoration:none;font-weight: bold;}
a.navbar:visited {color:#FFFFFF;text-decoration:none;font-weight: bold;}
a.navbar:hover {color:#FFFF00;text-decoration:none;font-weight: bold}

a:link {color:#032D4E;text-decoration:none;font-weight: bold;}
a:visited {color:#032D4E;text-decoration:none;font-weight: bold;}
a:hover {color:#535250;text-decoration:none;font-weight: bold}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -64px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 64px; /* .push must be the same height as .footer */
}




			.actionspro 
			{ 
				list-style: none; margin: 0px; padding: 0px;
			} 
			.actionspro li 
			{
			border-bottom: 1px solid #D8DFEA; 
			} 
			.actionspro a 
			{ 
			background: transparent; display: block; margin: 0px; padding: 2px 3px; text-decoration: none; color: #333333;
			} 
			.actionspro a:hover 
			{ 
			background: #d8dfea; color: black; text-decoration: none; font-weight: bold; color: #333333; 
			} 
			.actionspro .inactive 
			{ 
			padding: 2px 3px; color: gray; 
			}



.pickbox {  font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; font-weight: lighter; width: 200px}		
.ERROR {color:red;margin-top:3px;}		/* error text below form fields */
.ERRORBG {background-color:red;}
.ttHead {font-weight:bold;}				/* tooltip head */
.ttBody {font-weight:normal;}			/* tooltip body */

/* YUI "autocmplete" button styles */
.yui-ac .yui-button {vertical-align:middle;} 
.yui-ac .yui-button button {background: url(../../../thirdparty/yui-2.8.2r1/examples/autocomplete/assets/img/ac-arrow-rt.png) center center no-repeat } 
.yui-ac .open .yui-button button {background: url(../../../thirdparty/yui-2.8.2r1/examples/autocomplete/assets/img/ac-arrow-dn.png) center center no-repeat}   

/* YUI "autocomplete" styles */ 
.yui-skin-sam .yui-ac-input { position:static;vertical-align:top;} 
.yui-skin-sam .yui-ac-container { left:0px;}

/*
The following <div> CSS entry is to enable Mozilla and Safari browsers to apply margin and padding
values to containers in a similiar way to Microsoft I.E. The Microsoft way is against the W3C standard
but for the sake of consistency, with this setting, all browsers now render containers in the
same manner
*/
div { -moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box; }
.fileUpload {
    margin: 10px;
    overflow: hidden;
    position: relative;
}
.btn-primary {
   /* background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
*/
color: #FFF;
background-color: #032d4e;
border-color: #ccc;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 3px;
    padding: 0 22px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.fileUpload input.upload {
    cursor: pointer;
    font-size: 20px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
