html, body
{
	padding: 0;
	margin: 0;
}
body, input, button
{
	background-color: #d9f9d9;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #333;
	position: relative;
	-webkit-text-size-adjust: none;
}
body *
{
	text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	color: #330;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
h1, h2, h3
{
	font-size: 18px;
}
h4, h5, h6
{
	font-size: 16px;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: #333;
	text-decoration: underline;
}
pre
{
	font-size: 12px;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#page nav
{
	display: none;
}

#header,
.header,
#footer
{
	background: #555;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 30px;
	height: 50px;
	padding: 0 50px;
}
#header2
{
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
}
#header a,
.header a
{
	background: center center no-repeat transparent;
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}
#header a.friends,
.header a.friends
{
	background-image: url( http:../img/refresh.png );
}
#header a.right,
.header a.right
{
	left: auto;
	right: 10px;
}
#content,
.content
{
	padding: 10px;
	padding-top: 2px;
	padding-bottom: 0px;
}
#content
{
	padding-bottom: 0px;
}
.adsbygoogle
{
	background: #eee;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}
#msgTable, #debugTable, #imSummaryTable, #imDetailTable
{
	overflow-y: auto;
}
#im_list_contact
{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#im_list_text
{
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#imSendField
{
}
#imSendText
{
}
#splash
{
}
#signin_dialog
{
	position: fixed;
	bottom: 60px;
	width: 100%;
}
.oldIMThread
{
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 6px;
	background: #c9f9c9;
}
.newIMThread
{
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 6px;
	background: #a9f9a9;
}
#im_detail_date
{
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
}
.incoming_im
{
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 6px;
	background: #c9f9c9;
}
.outgoing_im
{
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 6px;
	background: #a9f9a9;
}

