@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    color:#00523F;
    font-family: Helvetica, Arial, sans-serif;
    height:100%;
    background-color: #40937f;
    z-index:0;
height:100%;
} 
html{
height:100%;
}
.demo{
height:100% !important;
background-color:#ff0 !important;
} 
/**/
.main{
height:100%;

}

.pushmenu-push{
height:100%;

}
.back-menu{

}


.container{
height:100%;
}
.outer-content{
height:100%;

}
.outer-div{
height:100%;
overflow-x: hidden;
}
.message-p{
border-bottom:dotted 1px #00523f;
padding-bottom:7px;
margin-bottom:7px;
}
.under-line{
border-bottom:dotted 1px #00523f;
padding-bottom:7px;
margin-bottom:7px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.curve-box{border-radius:8px; background-color:#FFF; padding:15px; text-align:center;}
.form-curve{padding:5px; border-radius:5px; color:#00523F; font-size:14px; border:solid 2px #00523F;width:100%;}
.button{padding:10px; width:180px; border-radius:5px; background-color:#00523F; color:#FFF; font-size:17px; border:none;}
.button:hover{background-color:#000; color:#FFF; font-size:17px;}
/*.button2{padding:10px 39px; width:200px; border-radius:5px; background-color:#00523F; color:#FFF; font-size:17px; border:none; text-decoration:none;}*/

.site-wrap {
  /* Critical position and size styles  height: 100%;*/
  min-height: 100%;
  min-width: 100%;

  background-color: #CCC; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 100000;

  /* non-critical apperance styles   height: 100%;*/
  padding:0 4em;
  /*background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);
  background-size: 200%;*/
}
 .site-wrap-override{ background-color: #fff;
    bottom: 100%;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0 0;
    position: relative;
    top: 0;
    z-index: 1;
}
.content-iframe-box{margin-left: -64px;
    margin-right: -64px;
    }
h1, h3, p {
  max-width: 600px;
  /*margin: 0 auto 1em;*/
}

code {
    padding: 2px;
    background: #ddd;
}
.imgpass
{
    border-radius: 50%;
 
}
/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
.button2 {
    background-color: #00523f;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 17px;
    margin-bottom: 16px;
    padding: 8px 30px;
    text-decoration: none;
    width: 200px;
    margin:0 auto;
}
.button2:hover{background-color:#000; color:#FFF; font-size:17px;}
.site-top{padding:2em 4.2em ; background:#FFF; margin-left:-64px; margin-right:-64px;}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
background: #3ab4a6;
}

#cssmenu {
    /* width: 220px;*/
    font-family: Raleway, sans-serif;
    color: #ffffff;
}
#cssmenu ul ul {
    display: none;
}
#cssmenu > ul > li.active > ul {
    display: block;
}
.align-right {
    float: right;
}
#cssmenu > ul > li > a {
    padding: 16px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    background: #3ab4a6;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu > ul > li > a:hover {
    color: #00523F;
}
#cssmenu ul > li.has-sub > a:after {
    position: absolute;
    right: 26px;
    top: 19px;
    z-index: 5;
    display: block;
    height: 10px;
    width: 2px;
    background: #ffffff;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub > a:before {
    position: absolute;
    right: 22px;
    top: 23px;
    display: block;
    width: 10px;
    height: 2px;
    background: #ffffff;
    content: "";
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub.open > a:after,
#cssmenu ul > li.has-sub.open > a:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#cssmenu ul ul li a {
    padding: 14px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: #dddddd;
    background: #49505a;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
}
#cssmenu ul ul ul li a {
    padding-left: 32px;
}
#cssmenu ul ul li a:hover {
    color: #ffffff;
}
#cssmenu ul ul > li.has-sub > a:after {
    top: 16px;
    right: 26px;
    background: #dddddd;
}
#cssmenu ul ul > li.has-sub > a:before {
    top: 20px;
    background: #dddddd;
}
.outer-content{ overflow-x: hidden;}
.pushmenu { /*this is the nav  background: #3c3933;*/

    font-family: Arial, Helvetics, sans-serif;
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
    position:fixed;
    overflow-y:auto;
}

.pushmenu h3 {
    color: #cbbfad;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 20px;
    margin: 0;
    background: #282522;    
    height: 16px;
}
/*
.pushmenu a {
  display: block;  drops the nav vertically
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-top: 1px solid #56544e;
  border-bottom: 1px solid #312e2a;
  padding: 14px;
}

.pushmenu a:hover {
  background:#00A287;
}

.pushmenu a:active {
  background: #454f5c;
  color: #fff;
}
*/
.pushmenu-left {
    left: -240px;

}

.pushmenu-left.pushmenu-open {
    left: 0;
}

.pushmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;

}

.pushmenu-push-toright {
    left: 240px;overflow-x: hidden;
}

/*Transition*/
.pushmenu, .pushmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;  
}
.menu-box
{
       list-style: none;
       text-align: center;
}
.menu-box-lists
{
       list-style: none;
       text-align: left;
}
.nav_list-left {

  height: 24px;
  width: 24px;

 /*background: url('../img/chevron-right.png') no-repeat;*/
 border:0px;

 float:left;
 border:0;
 border-style:none;


}
.menu-box-lists li{
border-bottom: 1px solid #ccc;
margin-top: 10px;
height: 35px;
margin-bottom: 10px;
}
/*#nav_list {
 
  cursor: pointer;
  height: 35px;
  width: 40px;
  text-indent: -99999em;
 background: url('../img/icon_nav.png') no-repeat left top;
z-index:10000;
}*/
#nav_list {
    background: #9abfb5 url("../img/icon_nav.png") no-repeat scroll 8px 10px;
    cursor: pointer;
    height: 60px;
    left: -10px;
    margin-left: -10px;
    margin-top: -10px;
    text-indent: -99999em;
    width: 60px;
    z-index: 10000;

}
 .logo_img{ display: inline-block;
  max-width: 100%;
  height: auto;
}
nav-list.active {
    background-position: -33px top;
}

.buttonset {
    background: none repeat scroll 0 0 #fff;
   /* height: 16px;*/
    padding: 10px 10px 0px;
    position: fixed;
    width: 100%;
    z-index: 999999 !important;
}

section.content {
    font-family: Arial, Helvetica, sans-serif;
    padding: 75px 20px;
}



#fountainG{
	position:relative;
	width:234px;
	height:28px;
	margin:auto;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(153,250,211);
	width:28px;
	height:28px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}

#fountainG_1{
	left:0;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	left:29px;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	left:58px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	left:88px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	left:117px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	left:146px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	left:175px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	left:205px;
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgb(153,250,211);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgb(153,250,211);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(153,250,211);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(153,250,211);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(153,250,211);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

.iframe-placeholder
    {
border:none;
       background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text fill="%23FF0000" x="50%" y="50%" font-family="\'Lucida Grande\', sans-serif" font-size="24" text-anchor="middle">Loading ....</text></svg>') 0px 0px no-repeat;
    }
