/* Remove top padding on VC elements */
.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
  padding-top:0;
}

.vc_empty-placeholder {
  margin-bottom:0;
}

/* 1. Buttons
---------------------------------------------------------- */
.vc_btn,
a.vc_btn,
button.vc_btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none !important;
  padding: 13px 25px;
  font-size: 13px;
  line-height: 20px;
  border-radius: 4px;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  margin: 5px;
/* Button colors variations */
}
.vc_btn-lg,
a.vc_btn-lg,
button.vc_btn-lg {
  padding: 16px 34px;
  line-height: 1.5;
  border-radius: 6px;
  font-size:14px;
  line-height:22px;
  font-weight:700;
}
.vc_btn-sm,
a.vc_btn-sm,
button.vc_btn-sm {
  padding: 10px 20px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.vc_btn-xs,
a.vc_btn-xs,
button.vc_btn-xs {
  padding: 7px 16px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
  font-weight:normal;
}

---------------------------------------------------------- */
/***************** OLD CSS *****************/
/* Content elements margins
---------------------------------------------------------- */
.wpb_alert p:last-child,
#content .wpb_alert p:last-child,
.wpb_text_column p:last-child,
.wpb_text_column *:last-child,
#content .wpb_text_column p:last-child,
#content .wpb_text_column *:last-child,
.wpb_toggle_content p:last-child {
  margin-bottom: 0;
}

.wpb_row,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li,
.last_toggle_el_margin,
.wpb_button {
  margin-bottom: 0;
}
.fb_like,
.twitter-share-button,
.entry-content .twitter-share-button,
.wpb_googleplus,
.wpb_pinterest,
.wpb_tab .wpb_content_element,
.wpb_accordion .wpb_content_element,
.wpb_toggle_content {
  margin-bottom: 21.73913043px;
}
.wpb_column > .wpb_wrapper > *:last-child {
  margin-bottom: 0;
}
.vc_row.vc_row-no-padding .wpb_column, .vc_row.vc_row-no-padding .vc_vc_column {
  padding-left: 0;
  padding-right: 0;
}
.vc_row[data-vc-full-width] {
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.vc_row[data-vc-full-width-init="false"] {
  opacity: 0;
  filter: alpha(opacity=0);
}

/* Pinterest
---------------------------------------------------------- */
iframe.twitter-share-button {
  margin: 0;
}
.vc_toggle {
  display: block;
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  font-size: 1em;
  border-bottom:1px dotted #e1e1e1;
  
}

.vc_toggle_active,  
.vc_toggle_icon {
  /*display: none;*/
  position: relative;
  vertical-align: middle;
}
.vc_toggle_content {
  display: none;
  margin-bottom: 0;
  margin-top: 1em;
  overflow: hidden;
  padding: 0;
}
.vc_toggle.vc_toggle_active > .vc_toggle_content {
  display: block;
}
.vc_toggle_simple .vc_toggle_icon {
  border: 0 solid transparent;
  border-radius: 0;
  display: inline-block;
}
.vc_toggle_simple .vc_toggle_icon::before, .wpb_accordion_section .vc_toggle_icon::before,
.vc_toggle_simple .vc_toggle_icon::after, .wpb_accordion_section .vc_toggle_icon::after {
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.vc_toggle_simple.vc_toggle_active .vc_toggle_icon::after {
  visibility: hidden;
}

.vc_toggle_simple .vc_toggle_icon, .wpb_accordion_section .vc_toggle_icon {
  height: 22px;
  width: 22px;
}
.vc_toggle_simple .vc_toggle_icon::before, .wpb_accordion_section .vc_toggle_icon::before {
  height: 2px;
  width: 10px;
}
.vc_toggle_simple .vc_toggle_icon::after, .wpb_accordion_section .vc_toggle_icon::after {
  height: 10px;
  width: 2px;
}
.vc_toggle_simple .vc_toggle_icon, .wpb_accordion_section .vc_toggle_icon {
  background-color: #2a2a2a;
  border-color: transparent;
}
.vc_toggle_simple .vc_toggle_icon::before, .wpb_accordion_section .vc_toggle_icon::before,
.vc_toggle_simple .vc_toggle_icon::after, .wpb_accordion_section .vc_toggle_icon::after {
  background-color: #ffffff;
}

.vc_toggle_size_md.vc_toggle_simple .vc_toggle_title,
.vc_toggle_size_md.vc_toggle_round .vc_toggle_title,
.vc_toggle_size_md.vc_toggle_rounded .vc_toggle_title,
.vc_toggle_size_md.vc_toggle_square .vc_toggle_title,
.vc_toggle_size_md.vc_toggle_default .vc_toggle_title,
.vc_toggle_size_md.vc_toggle_simple .vc_toggle_content,
.vc_toggle_size_md.vc_toggle_round .vc_toggle_content,
.vc_toggle_size_md.vc_toggle_rounded .vc_toggle_content,
.vc_toggle_size_md.vc_toggle_square .vc_toggle_content,
.vc_toggle_size_md.vc_toggle_default .vc_toggle_content {
  padding-left: 32px;
}
.vc_toggle_size_md.vc_toggle_default .vc_toggle_content, .vc_toggle_size_md.vc_toggle_default .vc_toggle_title {
	padding-left:24.2px;
}
.vc_toggle_size_md .vc_toggle_icon {
  width:16px;
  height:16px;
}

.vc_toggle_size_md.vc_toggle_simple .vc_toggle_title .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_round .vc_toggle_title .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_rounded .vc_toggle_title .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_square .vc_toggle_title .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_default .vc_toggle_title .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_simple .vc_toggle_content .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_round .vc_toggle_content .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_rounded .vc_toggle_content .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_square .vc_toggle_content .vc_toggle_icon,
.vc_toggle_size_md.vc_toggle_default .vc_toggle_content .vc_toggle_icon,
.wpb_accordion_section .vc_toggle_icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.wpb_accordion_section .vc_toggle_icon {
	margin-top:-3px;
}

.vc_toggle_size_sm .vc_toggle_icon {
  height:10px;
  width: 10px;
}

.vc_toggle_size_lg.vc_toggle_default .vc_toggle_content, 
.vc_toggle_size_lg.vc_toggle_default .vc_toggle_title, 
.vc_toggle_size_lg.vc_toggle_round .vc_toggle_content, 
.vc_toggle_size_lg.vc_toggle_round .vc_toggle_title, 
.vc_toggle_size_lg.vc_toggle_rounded .vc_toggle_content, 
.vc_toggle_size_lg.vc_toggle_rounded .vc_toggle_title, 
.vc_toggle_size_lg.vc_toggle_simple .vc_toggle_content, 
.vc_toggle_size_lg.vc_toggle_simple .vc_toggle_title, 
.vc_toggle_size_lg.vc_toggle_square .vc_toggle_content, 
.vc_toggle_size_lg.vc_toggle_square .vc_toggle_title {
  padding-left: 42px;
}
.vc_toggle_size_lg .vc_toggle_icon {
  width:22px;
  height: 22px;
}

.vc_toggle_size_lg .vc_toggle_title > h4 {
  font-size:22px;
  line-height: 32px;
}
.vc_toggle.vc_toggle_size_md {
  padding-bottom:12px;
  margin-bottom:12px;
}
.vc_toggle.vc_toggle_size_lg {
  padding-bottom:14px;
  margin-bottom:14px;
}


/* Toggle / FAQ
---------------------------------------------------------- */
.wpb_toggle,
#content h4.wpb_toggle {
  background: url(../images/toggle_open.png) no-repeat left center;
  padding-left: 25px;
  clear: both;
  margin-top: 0;
}
.wpb_toggle_title_active,
#content h4.wpb_toggle_title_active {
  background: url(../images/toggle_close.png) no-repeat left center;
}
.wpb_toggle:hover {
  cursor: pointer;
}
.wpb_toggle_content {
  display: none;
  overflow: hidden;
  padding: 0px 0px 0px 25px;
  margin-top: 1em;
}
.wpb_toggle_open {
  display: block;
}


.wpb_content_element .wpb_tabs_nav li.ui-tabs-active a {
  cursor: default;
  border-bottom-color: #ffffff;
  background-color: #ffffff;
}
.wpb_content_element .wpb_tabs_nav li.ui-tabs-active a:after {
	content: "";
	background: #ccc;
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	z-index: 1;
	height: 2px;
	-webkit-transition: all 0.1s ease-in-out 0s;
	-moz-transition: all 0.1s ease-in-out 0s;
	-ms-transition: all 0.1s ease-in-out 0s;
	-o-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s;
}
.wpb_content_element.green .wpb_tabs_nav li.ui-tabs-active a:after {
	background: #5bc98c;
}
.wpb_content_element.blue .wpb_tabs_nav li.ui-tabs-active a:after {
	background: #6FB1C7;
}
.wpb_content_element.yellow .wpb_tabs_nav li.ui-tabs-active a:after {
	background: #E6B650;
}
.wpb_content_element.purple .wpb_tabs_nav li.ui-tabs-active a:after {
	background: #CD93C6;
}
.wpb_content_element.red .wpb_tabs_nav li.ui-tabs-active a:after {
	background: #D96D7C;
}
.wpb_content_element.grey .wpb_tabs_nav li.ui-tabs-active a:after {
	background: #CCCCCC;
}
.wpb_content_element.black .wpb_tabs_nav li.ui-tabs-active a:after {
	background: #4D4D4D;
}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_ui-tabs-hide {
  display: none;
}
/** Tabs/Tour/Accordion Common **/
.wpb_content_element {
  /*
  fix #1019
  .wpb_tour_tabs_wrapper .wpb_tabs_nav li,
  .wpb_accordion_wrapper .wpb_accordion_header {
    .wpb_transition();
  }
  */
}
.wpb_tour.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-tabs-active a {
	border-bottom-color: #e5eaea;
	border-right-color: #ffffff;
	z-index:3;
}
.wpb_tour.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-tabs-active a:after{
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	top: -1px;
	left: -1px;
	right: auto;
	bottom: -1px;
	width: 3px;
	height: auto;
	-webkit-transition: all 0.1s ease-in-out 0s;
	-moz-transition: all 0.1s ease-in-out 0s;
	-ms-transition: all 0.1s ease-in-out 0s;
	-o-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s;
	background-color: #5bc98c;
}
.wpb_tour.green .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-tabs-active a:after {
	background-color: #5bc98c;
}
.wpb_tour.blue .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-tabs-active a:after {
	background-color: #6FB1C7;
}
.wpb_tour.red .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-tabs-active a:after {
	background-color: #D96D7C;
}
.wpb_tour.yellow .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-tabs-active a:after {
	background-color: #E6B650;
}
.wpb_tour.purple .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-tabs-active a:after {
	background-color: #CD93C6;
}
.wpb_tour.grey .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-tabs-active a:after {
	background-color: #CCCCCC;
}
.wpb_tour.black .wpb_tour_tabs_wrapper .wpb_tabs_nav li.ui-tabs-active a:after {
	background-color: #4D4D4D;
}

.wpb_tour.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a {
	margin-right:0;
}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a,
.wpb_content_element .wpb_accordion_header a {
	border-bottom: none;
	text-decoration: none;
	display: block;
	position: relative;
	display: block;
	margin-right: -1px;
	padding: 0 20px;
  line-height: 40px;
  height:40px;
	border: 1px solid transparent;
	z-index: 1;
	font-size: 13px;
	-webkit-transition: all 0.1s ease-in-out 0s;
	-moz-transition: all 0.1s ease-in-out 0s;
	-ms-transition: all 0.1s ease-in-out 0s;
	-o-transition: all 0.1s ease-in-out 0s;
	transition: all 0.1s ease-in-out 0s;
	text-decoration: none;
	outline: none;
	color: #444;
  font-weight: 600;
	background: #f8fafa;
	border-color: #e5eaea;
/*  padding: 0.5em 1em;*/
}
.wpb_content_element .wpb_accordion_header a {
  border:transparent;
  background: #f4f4f4;
}
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header,
.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
  background-color: transparent;
}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab,
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content {
/*  padding: 1em;
  padding-left:40px;
  padding-right:0;
*/
	padding:20px;
	background: #ffffff;
	border: 1px solid #e5eaea;

}
.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab {
  font-size:13px;
  line-height: 22px;
}
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_content {
	border-top: none;
  border-color: #f4f4f4;
  font-size:13px;
  line-height: 22px;
  padding: 15px;
}

/** Tabs **/
.wpb_tabs .wpb_tabs_nav li {
  float: left;
  margin: 0;
  margin-bottom: -1px;
  position: relative;
}
.tabs_icon {
  position:absolute;
  z-index:2;
}
.wpb_tabs .tabs_style_2 .wpb_tabs_nav li:first-child, 
.wpb_tabs .tabs_style_3 .wpb_tabs_nav li:first-child,
.wpb_tabs .tabs_style_4 .wpb_tabs_nav li:first-child {
  margin-left:20px;
}
.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper.tabs_style_2 .wpb_tab,
.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper.tabs_style_3 .wpb_tab,
.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper.tabs_style_4 .wpb_tab {
  border-bottom:transparent;
  border-left: transparent;
  border-right: transparent;
  padding: 20px 0;
}
.wpb_content_element .wpb_tour_tabs_wrapper.tabs_style_3 .wpb_tabs_nav a,
.wpb_content_element .wpb_tour_tabs_wrapper.tabs_style_4 .wpb_tabs_nav a {
  background:transparent;
  border-right-color:transparent;
  border-top-color:transparent;
  border-left-color:transparent;
}
.wpb_content_element .tabs_style_3 .wpb_tabs_nav li:hover,
.wpb_content_element .tabs_style_4 .wpb_tabs_nav li:hover {
  background-color:transparent;
} 
.wpb_content_element .tabs_style_3 .wpb_tabs_nav li.ui-tabs-active a {
  background-color:#fff;
  border-bottom-color:transparent;
  border-left-color:#e5eaea;
  border-right-color:#e5eaea;
}
.wpb_content_element .tabs_style_4 .wpb_tabs_nav li.ui-tabs-active a {
  border-bottom:none;
  background-color:#fff;
}
.wpb_content_element .tabs_style_4 .wpb_tabs_nav li.ui-tabs-active a:after {
  top: auto;
  bottom:-1px;
}

.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a.left_padding {
  padding-left: 40px;
}
/** Tour **/
.wpb_tour .wpb_tabs_nav {
  float: left;
  width: 240px;
}
.wpb_tour .wpb_tabs_nav li {
  margin: 0 0 -1px 0;
  clear: left;
}
.wpb_tour .wpb_tabs_nav a {
  width: auto;
}
.wpb_tour .wpb_tour_tabs_wrapper .wpb_tab {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
z-index: 2;
padding: 20px;
border: 1px solid transparent;
overflow: hidden;
left: -1px;
margin: 0 0 40px 239px;
background: #ffffff;
border-color: #e5eaea;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
float: none;
width:auto;
}

/** Accordion **/
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_section {
	/*padding: 15px;*/
	margin: 0 0 5px 0;
	/*border:1px solid #f1f1f1;*/
	position:relative;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header {
  margin: 0;
  padding-top: 0;
  position: relative;
  text-transform: none;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  /*padding-left:40px;*/
  padding-bottom: 0px;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a {
/*  padding-left: 1em;*/
	font-weight: 600;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a i {
  position: absolute;
  width:40px;
  height:40px;
  right:0;
  text-align: center;
  line-height: 40px;  
  top:0;
  transition: transform .2s ease;
}
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active a i {
  transform: rotate(180deg);
}
.wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon,
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {
  display: block;
  width: 22px;
  height: 22px;
  /*background-image: url(../images/toggle_open.png);*/
  background-repeat: no-repeat;
  position: absolute;
  left: 5px;
  top: 0px;
  text-align: center;
  font-size:20px;
  background-color:#333;
  line-height:22px;
  display: none;
}
/*
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon:after {
	content: "\f067";
	font-family: 'FontAwesome';
	color:#fff;
}
*/
.wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {
  /*background-image: url(../images/toggle_close.png);*/
}


.wpb_image_grid .wpb_image_grid_ul .isotope-item img {
  max-width: none;
}


/* Progress bar
---------------------------------------------------------- */
.vc_progress_bar .vc_single_bar {
  background: #ffffff;
  position: relative;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.vc_progress_bar .vc_single_bar:last-child {
  margin-bottom: 0;
}
.vc_progress_bar .vc_single_bar .vc_label {
  display: block;
  padding: 0px 6px;
  position: relative;
  z-index: 1;
}

.vc_progress_bar.vc_progress-bar-color-bar_blue .vc_single_bar .vc_bar {
  background-color: #51C4ED;
}

.vc_progress_bar.vc_progress-bar-color-bar_turquoise .vc_single_bar .vc_bar {
  background-color: #0074cc;
}

.vc_progress_bar.vc_progress-bar-color-bar_green .vc_single_bar .vc_bar {
  background-color: #5bc98c;
}

.vc_progress_bar .vc_general.vc_single_bar.vc_progress-bar-color-bar_green .vc_bar {
  background-color: #5bc98c;
}

.vc_progress_bar.vc_progress-bar-color-bar_yellow .vc_single_bar .vc_bar {
  background-color: #FEBF4D;
}
.vc_progress_bar.vc_progress-bar-color-bar_yellow .vc_single_bar .vc_label {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.vc_progress_bar .vc_general.vc_single_bar.vc_progress-bar-color-bar_yellow .vc_bar {
  background-color: #FEBF4D;
}
.vc_progress_bar .vc_general.vc_single_bar.vc_progress-bar-color-bar_yellow .vc_label {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.vc_progress_bar.vc_progress-bar-color-bar_purple .vc_single_bar .vc_bar {
  background-color: #D798D1;
}
.vc_progress_bar.vc_progress-bar-color-bar_purple .vc_single_bar .vc_label {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.vc_progress_bar .vc_general.vc_single_bar.vc_progress-bar-color-bar_purple .vc_bar {
  background-color: #D798D1;
}
.vc_progress_bar .vc_general.vc_single_bar.vc_progress-bar-color-bar_purple .vc_label {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


.vc_pie_chart[data-pie-color="wpb_button"] .vc_pie_chart_back {
  border-color: #f7f7f7;
}
.vc_pie_chart[data-pie-color="btn-primary"] .vc_pie_chart_back {
  border-color: #0088cc;
}
.vc_pie_chart[data-pie-color="btn-info"] .vc_pie_chart_back {
  border-color: #58b9da;
}
.vc_pie_chart[data-pie-color="btn-success"] .vc_pie_chart_back {
  border-color: #6ab165;
}
.vc_pie_chart[data-pie-color="btn-warning"] .vc_pie_chart_back {
  border-color: #ff9900;
}
.vc_pie_chart[data-pie-color="btn-danger"] .vc_pie_chart_back {
  border-color: #ff675b;
}
.vc_pie_chart[data-pie-color="btn-inverse"] .vc_pie_chart_back {
  border-color: #555555;
}
.vc_pie_chart_back {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 16px solid #f7f7f7;
  border-radius: 999px;
  border-radius: 50%;
  opacity: 0.3;
  filter: alpha(opacity=30);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.vc_separator.vc_sep_color_grace .vc_sep_line {
  border-color: #aed13b;
}

.vc_separator h4 {
	white-space: normal;
   flex: none;
	-webkit-flex: none;
	word-wrap: break-word;
    display: table-cell;
}

.vc_separator .vc_sep_holder {
  min-width:1%;
}

.vc_icon_element {
  line-height: 0;
  font-size: 14px;
  margin-bottom: 15px;
}

.vc_tta-tabs:not([class*="vc_tta-gap"]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-top.vc_tta-style-outline .vc_tta-panels {
  border-top-color: transparent;
}
.vc_tta-tabs:not([class*="vc_tta-gap"]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-bottom.vc_tta-style-outline .vc_tta-panels {
  border-bottom-color: transparent;
}


/* Top to bottom keyframes */
@-webkit-keyframes wpb_ttb {
  0% {
    -webkit-transform: translate(0, -30%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

@-moz-keyframes wpb_ttb {
  0% {
    -moz-transform: translate(0, -30%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -moz-transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes wpb_ttb {
  0% {
    -o-transform: translate(0, -30%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -o-transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes wpb_ttb {
  0% {
    -webkit-transform: translate(0, -30%);
    -ms-transform: translate(0, -30%);
    -o-transform: translate(0, -30%);
    transform: translate(0, -30%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
/* Bottom to top keyframes */
@-webkit-keyframes wpb_btt {
  0% {
    -webkit-transform: translate(0, 30%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes wpb_btt {
  0% {
    -moz-transform: translate(0, 30%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -moz-transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes wpb_btt {
  0% {
    -o-transform: translate(0, 30%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -o-transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes wpb_btt {
  0% {
    -webkit-transform: translate(0, 30%);
    -ms-transform: translate(0, 30%);
    -o-transform: translate(0, 30%);
    transform: translate(0, 30%);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
/* Left to right keyframes */
@-webkit-keyframes wpb_ltr {
  0% {
    -webkit-transform: translate(-30%, 0);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes wpb_ltr {
  0% {
    -moz-transform: translate(-30%, 0);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -moz-transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes wpb_ltr {
  0% {
    -o-transform: translate(-30%, 0);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -o-transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes wpb_ltr {
  0% {
    -webkit-transform: translate(-30%, 0);
    -ms-transform: translate(-30%, 0);
    -o-transform: translate(-30%, 0);
    transform: translate(-30%, 0);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
/* Right to left keyframes */
@-webkit-keyframes wpb_rtl {
  0% {
    -webkit-transform: translate(30%, 0);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes wpb_rtl {
  0% {
    -moz-transform: translate(30%, 0);
    opacity: 0;

    filter: alpha(opacity=0);
  }
  100% {
    -moz-transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes wpb_rtl {
  0% {
    -o-transform: translate(30%, 0);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -o-transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes wpb_rtl {
  0% {
    -webkit-transform: translate(30%, 0);
    -ms-transform: translate(30%, 0);
    -o-transform: translate(30%, 0);
    transform: translate(30%, 0);
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
/* Appear from center keyframes */
@-webkit-keyframes wpb_appear {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.1;
    filter: alpha(opacity=10);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-moz-keyframes wpb_appear {
  0% {
    -moz-transform: scale(0);
    opacity: 0.1;
    filter: alpha(opacity=10);
  }
  100% {
    -moz-transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@-o-keyframes wpb_appear {
  0% {
    -o-transform: scale(0);
    opacity: 0.1;
    filter: alpha(opacity=10);
  }
  100% {
    -o-transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@keyframes wpb_appear {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0.1;
    filter: alpha(opacity=10);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

.wpb_gmaps_widget .wpb_wrapper {
  padding:0;
}